Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: \.py$

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py37-plus]

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          ["flake8-bugbear==22.6.22", "flake8-implicit-str-concat==0.2.0"]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "^binder/jupyter_config\\.py$"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

Publish 2.0.8
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Use WebSocket _room_id attribute
  jupyter_collaboration/handlers.py
Due: none

Update Release Scripts
  .github/workflows/prep-release.yml
  .github/workflows/publish-changelog.yml
  .github/workflows/publish-release.yml
Due: none

Update Release Scripts (#267)
  .github/workflows/prep-release.yml
  .github/workflows/publish-changelog.yml
  .github/workflows/publish-release.yml
Due: none

Use WebSocket _room_id attribute (#266)
  jupyter_collaboration/handlers.py
Due: none

Publish 2.0.9
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Fix releaser
  .github/workflows/publish-release.yml
Due: none

Fix releaser (#268)
  .github/workflows/publish-release.yml
Due: none

Publish 2.0.10
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Publish 2.0.11
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Uses the jupyterlab_chat package (back end and front end) to add a collaborative chat
  jupyter_collaboration/__init__.py
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/chat.ts
  packages/collaboration-extension/src/index.ts
Due: prettier, eslint

Format the message to retrieve the user avatar color
  packages/collaboration-extension/src/chat.ts
Due: prettier, eslint

Change the chat repo from jupyterlab-chat to jupyter-chat
  jupyter_collaboration/__init__.py
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/chat.ts
Due: prettier, eslint

First version of chat based on YDoc (CRDT)
  jupyter_collaboration/chat_ydoc.py
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/chat.ts
  packages/collaboration-extension/src/index.ts
  packages/collaboration/src/tokens.ts
  packages/docprovider/package.json
  packages/docprovider/src/chat/factory.ts
  packages/docprovider/src/chat/index.ts
  packages/docprovider/src/chat/model.ts
  packages/docprovider/src/chat/widget.ts
  packages/docprovider/src/index.ts
  packages/docprovider/tsconfig.json
  pyproject.toml
Due: prettier, eslint

Use schema for global configuration of the chat
  packages/collaboration-extension/package.json
  packages/collaboration-extension/schema/chat.json
  packages/collaboration-extension/src/chat.ts
  packages/docprovider/src/chat/model.ts
Due: prettier, eslint

Allow closing chat and improve chat creation
  packages/collaboration-extension/src/chat.ts
  packages/docprovider/src/chat/widget.tsx
Due: prettier, eslint

Allow creating and opening chats from the side panel, and display several chats in an accordion
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/chat.ts
  packages/collaboration/src/tokens.ts
  packages/docprovider/src/chat/widget.ts
  packages/docprovider/src/chat/widget.tsx
Due: prettier, eslint

Look for chat files using the drive instead of the filebrowser, and listn for change on the drive
  jupyter_collaboration/handlers.py
  packages/collaboration-extension/src/chat.ts
  packages/docprovider/src/chat/widget.tsx
Due: prettier, eslint

Add tests on chat
  ui-tests/jupyter_server_test_config.py
  ui-tests/tests/chat.spec.ts
  ui-tests/tests/chat.spec.ts-snapshots/chat-icon-linux.png
Due: prettier, eslint

Remove server extension and handlers, not used anymore since the chat does not use websockets
  jupyter_collaboration/__init__.py
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
Due: none

Use the temporary 'chat-jupyter' npm package
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/chat.ts
  packages/docprovider/package.json
  packages/docprovider/src/chat/factory.ts
  packages/docprovider/src/chat/model.ts
  packages/docprovider/src/chat/widget.tsx
  yarn.lock
Due: prettier, eslint

Linting
  jupyter_collaboration/__init__.py
  jupyter_collaboration/chat_ydoc.py
  jupyter_collaboration/handlers.py
Due: none

Upgrade galata to lab 4.1
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

Use `jp-button` instead of button
  ui-tests/tests/user-menu.spec.ts
Due: prettier, eslint

Be more explicit with test checking for "user menu with 2 items"
  ui-tests/tests/user-menu.spec.ts
Due: prettier, eslint

Update snapshots
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/collaborationPanelCollapsed-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/three-client-with-document-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/three-client-without-document-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-host-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
  ui-tests/tests/user-menu.spec.ts-snapshots/shared-link-icon-linux.png
Due: none

Update two more snapshots, switch serial assertions to soft
  ui-tests/tests/notebook.spec.ts
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
Due: prettier, eslint

Fix `Create a notebook` test
  ui-tests/tests/notebook.spec.ts
Due: prettier, eslint

Fix UI tests (#277)
  ui-tests/package.json
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/collaborationPanelCollapsed-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/three-client-with-document-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/three-client-without-document-linux.png
  ui-tests/tests/notebook.spec.ts
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-host-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
  ui-tests/tests/user-menu.spec.ts
  ui-tests/tests/user-menu.spec.ts-snapshots/shared-link-icon-linux.png
  ui-tests/yarn.lock
Due: prettier, eslint

Workaround shutdown issue with `aiosqlite` for now
  tests/test_documents.py
Due: none

WORKAROUND: avoid circular dependency between jupyter_collaboration and jupyter_ydoc
  jupyter_collaboration/ychat.py
  packages/collaboration-extension/src/chat.ts
  packages/docprovider/src/chat/factory.ts
  packages/docprovider/src/chat/index.ts
  packages/docprovider/src/chat/model.ts
  packages/docprovider/src/chat/ychat.ts
  pyproject.toml
Due: prettier, eslint

linting
  jupyter_collaboration/ychat.py
Due: none

Also wait to stop in `test_room_concurrent_initialization`
  tests/test_documents.py
Due: none

Fix YBaseDoc import
  jupyter_collaboration/ychat.py
Due: none

Try to delete jupyter_server_fileid early
  tests/test_documents.py
Due: none

Workaround shutdown issue with `aiosqlite` for now (#278)
  tests/test_documents.py
Due: none

Support suggestions
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration-extension/src/index.ts
  packages/collaboration/package.json
  packages/collaboration/style/base.css
  packages/docprovider/package.json
  packages/docprovider/src/index.ts
  packages/docprovider/src/requests.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint, stylelint

Remove document provider _isFork attribute
  packages/docprovider/src/yprovider.ts
  yarn.lock
Due: prettier, eslint

-
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration-extension/src/filebrowser.ts
  packages/collaboration-extension/src/index.ts
  packages/collaboration/src/index.ts
  packages/collaboration/src/suggestionspanel.tsx
  packages/collaboration/src/tokens.ts
  packages/docprovider/src/requests.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  yarn.lock
Due: prettier, eslint

Add fork_room and merge_room handlers
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/style/base.css
Due: prettier, eslint, stylelint
