Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "(^binder/jupyter_config\\.py$)|(^scripts/bump_version\\.py$)|(/setup\\.py$)"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

Fix, add tests
  packages/docprovider/src/__tests__/rebase.spec.ts
  packages/docprovider/src/yprovider.ts
  tests/test_session_rebase.py
  ui-tests/tests/conflict.spec.ts
  ui-tests/tests/session-rebase.spec.ts
Due: prettier, eslint

Drop deterministic fixing of `client_id` at cost of side effects
  docs/source/configuration.md
  packages/docprovider/src/rebase.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/sessions.py
  tests/test_documents.py
  tests/test_session_rebase.py
  tests/test_sessions.py
  ui-tests/tests/session-rebase.spec.ts
Due: prettier, eslint

ci: drop the `|| <cmd> --lf` test retry
  .github/workflows/test.yml
Due: none

Revert spurious try-except: we can depend on `require_hash`
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  tests/test_loaders.py
Due: none

Fix styling of the conflict indicator
  packages/docprovider-extension/src/yprovider.ts
  packages/docprovider-extension/style/conflictIndicator.css
Due: prettier, eslint, stylelint

Satisfy mypy
  tests/test_documents.py
  tests/test_session_rebase.py
  tests/test_sessions.py
Due: none

Add tests for reopening a notebook after restart
  ui-tests/tests/collab-ws-helpers.ts
  ui-tests/tests/restart-helpers.ts
  ui-tests/tests/restart-persistence.spec.ts
Due: prettier, eslint

Fix Windows test failures
  tests/test_session_rebase.py
Due: none

Satisfy mypy
  tests/test_session_rebase.py
  tests/test_sessions.py
Due: none

Handle tests on Python 3.10
  tests/test_session_rebase.py
Due: none

Fix Windows test failures
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  tests/test_handlers.py
  tests/test_session_rebase.py
Due: none

Try to address sporadic test failure liekly due to cleanup issue
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/websocketserver.py
Due: none

Start serving WebSocket after document initialization (#603)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Upgrade jupyter-builder to v1.2.0
  packages/collaboration-extension/package.json
  packages/docprovider-extension/package.json
  projects/jupyter-collaboration-ui/pyproject.toml
  projects/jupyter-docprovider/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

ci: drop the `|| <cmd> --lf` test retry (#612)
  .github/workflows/test.yml
Due: none

Upgrade jupyter-builder to v1.2.0 (#613)
  packages/collaboration-extension/package.json
  packages/docprovider-extension/package.json
  projects/jupyter-collaboration-ui/pyproject.toml
  projects/jupyter-docprovider/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Show dialog when document initialization times out (#596)
  packages/docprovider/src/__tests__/yprovider.spec.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Publish 5.0.0beta0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Publish 5.0.0rc0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Merge commit from fork
  .github/scripts/check_auth.py
  .github/workflows/test.yml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Publish 4.4.2
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Fix mypy
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Fix mypy (#614)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Publish 5.0.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Add `disable_ystore` option to make the YStore optional
  docs/source/configuration.md
  docs/source/developer/architecture.md
  packages/docprovider-extension/src/filebrowser.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/websocketserver.py
  tests/test_app.py
  tests/test_ystore_disabled.py
Due: prettier, eslint

Type ystore_class as a factory and remove unused TimelineHandler argument
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/websocketserver.py
Due: none

Document restart conflicts when the YStore is disabled
  docs/source/configuration.md
Due: none

Fix file rename
  packages/docprovider/src/ydrive.ts
  ui-tests/tests/notebook.spec.ts
Due: prettier, eslint

Apply the fix
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

again
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Fix file rename
  packages/docprovider/src/ydrive.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  tests/test_loaders.py
Due: prettier, eslint

pre-commit
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  tests/test_loaders.py
Due: none

Review
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  tests/test_loaders.py
Due: none

collaboration package: Export components
  packages/collaboration/src/index.ts
Due: prettier, eslint

errorReason is required to show exact reason to client
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: prettier, eslint

Pass `errorReason` to client (#622)
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: prettier, eslint

Publish 5.0.3
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier
