Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: jlpm run prettier
  language: node

eslint:
  name: eslint
  entry: jlpm run eslint
  language: node

stylelint:
  name: stylelint
  entry: jlpm run stylelint
  language: node

Update snapshots
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-host-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
Due: none

Update JupyterLab 4.2.0 and fix test start store (#305)
  packages/collaboration-extension/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  tests/conftest.py
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-host-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
  yarn.lock
Due: prettier

Bump pycrdt-websocket>=0.13.4
  pyproject.toml
Due: none

Bump pycrdt-websocket>=0.13.4
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Backport #305 (fix test start store)
  tests/conftest.py
Due: none

Pin jupyterlab<4.2.0 in tests
  .github/workflows/test.yml
Due: none

Start ystore in a task
  jupyter_collaboration/rooms.py
Due: none

Use YStore's start_lock
  jupyter_collaboration/rooms.py
Due: none

Start ystore in a task (#303)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Publish 3.0.0alpha2
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Publish 2.1.1
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Add the list of opened shared documents to the user awareness
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/src/tokens.ts
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

update yarn.lock
  yarn.lock
Due: none

Uses the style of the filebrowser for the list of opened documents
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/package.json
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/style/sidepanel.css
  yarn.lock
Due: prettier, eslint, stylelint

Update and add tests
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/style/sidepanel.css
  ui-tests/tests/collaborationpanel.spec.ts
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/one-client-with-two-documents-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/three-client-with-document-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/three-client-without-document-linux.png
Due: prettier, eslint, stylelint

Clean sources
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

Adds a colapser caret and overlay to the filename
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/style/sidepanel.css
Due: prettier, eslint, stylelint

Modify the collaborators panel to display the list of opened shared documents
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/package.json
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/style/sidepanel.css
  yarn.lock
Due: prettier, eslint, stylelint

lint
  packages/collaboration/style/sidepanel.css
Due: prettier, stylelint

Harmonize jupyterlab dependencies
  packages/collaboration/package.json
  yarn.lock
Due: prettier

Set file ID on document state
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Fix file id not available for jupyter-server Improve notebook cell server-side executor
  .eslintignore
  .prettierignore
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/executor.ts
  packages/docprovider/package.json
  packages/docprovider/src/index.ts
  packages/docprovider/src/notebookCellExecutor.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  yarn.lock
Due: prettier, eslint

Add the list of opened shared documents to the user awareness (#287)
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/package.json
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/src/tokens.ts
  packages/collaboration/style/sidepanel.css
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/ydrive.ts
  ui-tests/tests/collaborationpanel.spec.ts
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/one-client-with-two-documents-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/three-client-with-document-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/three-client-without-document-linux.png
  yarn.lock
Due: prettier, eslint, stylelint

Support @jupyter/ydoc 2.x
  packages/docprovider/package.json
Due: prettier

Fix yarn.lock
  yarn.lock
Due: none

Fix @jupyter/ydoc range in collaboration-extension
  packages/collaboration-extension/package.json
  yarn.lock
Due: prettier

Ignore new resource warning from anyio
  pyproject.toml
Due: none

Workaround for later initialization, recovers document_ttl
  projects/jupyter-server-ydoc/jupyter_server_ydoc/stores.py
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

added document_ttl tests
  tests/test_app.py
Due: none

reworked document_ttl tests
  tests/test_app.py
Due: none

Bump pycrdt-websocket v0.14.0
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/pyproject.toml
  pyproject.toml
Due: none

Bump pycrdt-websocket v0.14.0 (#320)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/pyproject.toml
  pyproject.toml
Due: none

Fix use of traitlets to configure YStore class
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
Due: none

Add test case, apply fix in the fixture too
  tests/conftest.py
  tests/test_app.py
Due: none

Fix use of traitlets to configure YStore class (#322)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  tests/conftest.py
  tests/test_app.py
Due: none

Bump pycrdt-websocket>=0.14.0,<0.15.0
  jupyter_collaboration/handlers.py
  pyproject.toml
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
