Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "(^binder/jupyter_config\\.py$)|(^scripts/bump_version\\.py$)|(/setup\\.py$)"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

build-before-lint
  .github/workflows/test.yml
Due: none

Don't set dirty=False on document load
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Start serving WebSocket after document initialization
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Make progressive document loading generic
  docs/source/configuration.md
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  tests/test_app.py
  tests/test_documents.py
  tests/test_rooms.py
  ui-tests/jupyter_server_test_config.py
Due: none

Upgrade jupyter-ydoc v4.0.0 and jupyterlab v4.6.0
  binder/environment.yml
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/pyproject.toml
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/pyproject.toml
  projects/jupyter-server-ydoc/pyproject.toml
  pyproject.toml
  scripts/dev_install.py
  yarn.lock
Due: prettier

Rework
  docs/source/configuration.md
  packages/docprovider/src/__tests__/yprovider.spec.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/pyproject.toml
  tests/test_app.py
  tests/test_rooms.py
  ui-tests/jupyter_server_test_config.py
Due: prettier, eslint

pre-commit
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  tests/test_rooms.py
Due: none

Disable pre-commit
  .github/workflows/test.yml
Due: none

again
  .github/workflows/test.yml
Due: none

Fix test
  tests/test_documents.py
Due: none

again
  tests/test_documents.py
Due: none

-
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Run conflict tests witout progressive loading
  .github/workflows/test.yml
  ui-tests/jupyter_server_test_config_noprogressive.py
  ui-tests/package.json
  ui-tests/playwright.conflict.config.js
  ui-tests/tests/conflict.spec.ts
Due: prettier, eslint

-
  ui-tests/playwright.conflict.config.js
Due: prettier, eslint

Require jupyter_ydoc >=4.1.1
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Re-enable pre-commit
  .github/workflows/test.yml
Due: none

Bump pycrdt-websocket v0.16.4 for mypy
  .pre-commit-config.yaml
Due: none

Make document progressive loading opt-in
  docs/source/configuration.md
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  tests/test_app.py
  tests/test_rooms.py
Due: none

Fix test
  tests/test_app.py
Due: none

Wait for document initialization in get_document(copy=True)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Raise exceptions during initialization in progressive loading
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Save to disc if user made changes while progressively loading
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Switch pre-commit to `language: system`
  .pre-commit-config.yaml
Due: none

Switch pre-commit to `language: system` (#609)
  .pre-commit-config.yaml
Due: none

Migrate ESLint to v9 + adopt `@jupyter/eslint-plugin` (#602)
  .eslintignore
  .eslintrc.js
  .github/workflows/test.yml
  eslint.config.mjs
  package.json
  packages/collaboration-extension/src/collaboration.ts
  yarn.lock
Due: prettier, eslint

Update projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

pre-commit
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Use jupyter-ydoc's `aset_progressively` (#607)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  docs/source/configuration.md
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/pyproject.toml
  tests/test_app.py
  tests/test_documents.py
  ui-tests/jupyter_server_test_config_noprogressive.py
  ui-tests/package.json
  ui-tests/playwright.conflict.config.js
  ui-tests/tests/conflict.spec.ts
  ui-tests/tests/progressive-loading.spec.ts
Due: prettier, eslint

Migrate to `jupyter-builder`, fixing the test issues
  packages/collaboration-extension/package.json
  packages/docprovider-extension/package.json
  projects/jupyter-collaboration-ui/pyproject.toml
  projects/jupyter-docprovider/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Bump Node.js version used for RDT
  .readthedocs.yaml
Due: none

Build docs on 24?
  .readthedocs.yaml
Due: none

Align jupyter-server floor with jupyterlab requirement to avoid min version conflicts
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Update version in test deps too
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Upgrade jupyter-ydoc v4.0.0 & jupyterlab v4.6.0, use jupyter-builder (#606)
  .readthedocs.yaml
  binder/environment.yml
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/pyproject.toml
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/pyproject.toml
  projects/jupyter-server-ydoc/pyproject.toml
  pyproject.toml
  scripts/dev_install.py
  yarn.lock
Due: prettier

WIP guard reconnection when session changes
  .github/workflows/test.yml
  docs/source/configuration.md
  packages/docprovider-extension/src/yprovider.ts
  packages/docprovider-extension/style/conflictIndicator.css
  packages/docprovider/src/rebase.ts
  packages/docprovider/src/requests.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/sessions.py
  tests/test_documents.py
  tests/test_handlers.py
  tests/test_sessions.py
  ui-tests/jupyter_server_test_config_noprogressive.py
  ui-tests/package.json
  ui-tests/playwright.config.js
  ui-tests/playwright.conflict.config.js
  ui-tests/playwright.restart.config.js
  ui-tests/tests/collab-ws-helpers.ts
  ui-tests/tests/conflict.spec.ts
  ui-tests/tests/conflict.spec.ts-snapshots/conflict-diff-linux.png
  ui-tests/tests/restart-helpers.ts
  ui-tests/tests/restart-persistence.spec.ts
  ui-tests/tests/session-rebase.spec.ts
Due: prettier, eslint, stylelint

Fix mypy issues
  tests/test_sessions.py
Due: none

Second pass
  packages/docprovider/src/rebase.ts
  packages/docprovider/src/requests.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/sessions.py
  tests/test_documents.py
  tests/test_loaders.py
  tests/test_sessions.py
  ui-tests/tests/conflict.spec.ts
  ui-tests/tests/restart-persistence.spec.ts
  ui-tests/tests/session-rebase.spec.ts
Due: prettier, eslint
