Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: \.py$

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py37-plus]

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          ["flake8-bugbear==22.6.22", "flake8-implicit-str-concat==0.2.0"]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "^binder/jupyter_config\\.py$"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

Rename connectFork to connect
  packages/collaboration-extension/src/collaboration.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

-
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration-extension/src/filebrowser.ts
  packages/collaboration-extension/src/index.ts
  packages/collaboration/src/index.ts
  packages/collaboration/src/suggestionspanel.tsx
  packages/collaboration/src/tokens.ts
  packages/docprovider/src/ydrive.ts
  yarn.lock
Due: prettier, eslint

Allow undoing changes when connecting, add handler for deleting fork
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  packages/collaboration-extension/src/collaboration.ts
  packages/docprovider/src/requests.ts
  packages/docprovider/src/yprovider.ts
  yarn.lock
Due: prettier, eslint

Finalize merge
  jupyter_collaboration/handlers.py
  packages/collaboration-extension/src/collaboration.ts
Due: prettier, eslint

-
  package.json
  yarn.lock
Due: prettier

Support only one provider per document for now
  packages/collaboration-extension/src/collaboration.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  yarn.lock
Due: prettier, eslint

-
  packages/collaboration-extension/src/collaboration.ts
Due: prettier, eslint

Support server-side execution
  jupyter_collaboration/app.py
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration-extension/src/index.ts
  yarn.lock
Due: prettier, eslint

lint
  packages/collaboration-extension/src/collaboration.ts
Due: prettier, eslint

again
  packages/collaboration-extension/src/collaboration.ts
Due: prettier, eslint

Fix jest
  packages/docprovider/jest.config.js
Due: prettier, eslint

Mention this feature in documentation
  docs/source/configuration.md
Due: none

Update UI test snapshots
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-host-linux.png
Due: none

Use "dependency_type: minimum" for Minimum Versions check
  .github/workflows/test.yml
  pyproject.toml
Due: none

Add 'serverSideExecution' to page config
  jupyter_collaboration/app.py
Due: none

Replace "fully recovered" with "recovered"
  docs/source/configuration.md
Due: none

Add link to jupyter-server issue
  docs/source/configuration.md
Due: none

Support server-side execution (#279)
  .github/workflows/test.yml
  docs/source/configuration.md
  jupyter_collaboration/app.py
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration-extension/src/index.ts
  packages/docprovider/jest.config.js
  pyproject.toml
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-host-linux.png
  yarn.lock
Due: prettier, eslint

Return a live copy
  jupyter_collaboration/app.py
  tests/test_app.py
Due: none

Add `copy` argument
  jupyter_collaboration/app.py
  tests/test_app.py
Due: none

Implement `get_document()` API
  docs/source/developer/python_api.rst
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/utils.py
  tests/test_app.py
Due: none

Update the docstring to reflect the `copy` arg
  jupyter_collaboration/app.py
Due: none

Add a public API for getting a read-only view of the shared model (#275)
  docs/source/developer/python_api.rst
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/utils.py
  tests/test_app.py
Due: none

Fix LICENSE issue
  projects/jupyter-collaboration-ui/pyproject.toml
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/pyproject.toml
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Try a different way
  projects/jupyter-collaboration-ui/pyproject.toml
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/pyproject.toml
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Include LICENSE copies in git for simplicity
  projects/jupyter-collaboration-ui/LICENSE
  projects/jupyter-collaboration-ui/pyproject.toml
  projects/jupyter-collaboration/LICENSE
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/LICENSE
  projects/jupyter-docprovider/pyproject.toml
  projects/jupyter-server-ydoc/LICENSE
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Test creating sdist for projects, not the root metapackage
  .github/workflows/test.yml
Due: none

Without concurrency
  .github/workflows/test.yml
Due: none

Fix sdist install
  .github/workflows/test.yml
Due: none

Include tests in `jupyter-server-ydoc`
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Move test dependencies, align indent
  projects/jupyter-server-ydoc/pyproject.toml
  pyproject.toml
Due: none

Fix module name
  projects/jupyter-server-ydoc/jupyter_server_ydoc/__init__.py
Due: none

Hopefully final test to sdist test
  .github/workflows/test.yml
Due: none

Only run pytest where needed
  .github/workflows/test.yml
Due: none

Add Python 3.12 version classifier
  projects/jupyter-collaboration-ui/pyproject.toml
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/pyproject.toml
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Implement independent version bumps, and minor/major/release specifiers
  RELEASE.md
  scripts/bump_version.py
Due: none

Bump all version to 3.0.0-alpha.0
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Reset versions for the three Python packages to 1.0.0a0
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
Due: none

Improve wording
  RELEASE.md
Due: none
