Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "(^binder/jupyter_config\\.py$)|(^scripts/bump_version\\.py$)|(/setup\\.py$)"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

include-document-version-too
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
  tests/test_session_store.py
Due: none

reuse-version-mismatch-reason
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
  tests/test_session_store.py
Due: none

URL variant
  .cursor/Documentation
  .gitignore
  Untitled.ipynb
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration-extension/src/index.ts
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/identity.ts
  packages/docprovider/src/yprovider.ts
  test_ipynb.ipynb
Due: prettier, eslint

Enable Ruff `E, F, I` rules and lint codebase (#553)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/stores.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/test_utils.py
  pyproject.toml
  scripts/bump_version.py
  scripts/dev_install.py
  tests/test_handlers.py
Due: none

run-precommit
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
  tests/test_session_store.py
Due: none

Remove trailing space
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
Due: none

apply-feedbacks
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
Due: none

use-Path-instead-of-AnyioPath
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
Due: none

Remove commented out line
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Remove duplicate cells on document change via jupyter-ydoc public API
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

jupyter-server-ydoc: Skip redundant aset on out-of-band changes
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Add tests for skip-redundant-aset behavior
  tests/test_rooms.py
Due: none

drop-async
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
  tests/test_session_store.py
Due: none

Make shared document provider pluggable
  .gitignore
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Add WebRTCProvider
  packages/docprovider/package.json
  packages/docprovider/src/yprovider.ts
  yarn.lock
Due: prettier, eslint

Make awareness provider puggable too, default providers to WebRTC
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration-extension/src/typings.d.ts
  packages/docprovider-extension/src/typings.d.ts
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/typings.d.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Add jupyter-server-signaling
  packages/collaboration-extension/src/collaboration.ts
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-signaling/LICENSE
  projects/jupyter-server-signaling/README.md
  projects/jupyter-server-signaling/jupyter-config/jupyter_server_signaling.json
  projects/jupyter-server-signaling/jupyter_server_signaling/__init__.py
  projects/jupyter-server-signaling/jupyter_server_signaling/app.py
  projects/jupyter-server-signaling/jupyter_server_signaling/handlers.py
  projects/jupyter-server-signaling/pyproject.toml
  projects/jupyter-server-signaling/setup.py
  pyproject.toml
  scripts/dev_install.py
Due: prettier, eslint

Improve UX for reconnecting after server restart (#548)
  packages/docprovider/src/__tests__/yprovider.spec.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
  tests/test_session_store.py
Due: prettier, eslint

pre-commit
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/tokens.ts
  projects/jupyter-server-signaling/jupyter_server_signaling/__init__.py
  projects/jupyter-server-signaling/jupyter_server_signaling/app.py
  projects/jupyter-server-signaling/jupyter_server_signaling/handlers.py
  scripts/dev_install.py
Due: prettier, eslint

Fix linting issue
  tests/test_rooms.py
Due: none

Add missing line break
  tests/test_rooms.py
Due: none

Skip redundant `aset` on out-of-band changes (#556)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  tests/test_rooms.py
Due: none

Publish 4.3.0alpha0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Vendor y-webrtc
  package.json
  packages/collaboration-extension/src/typings.d.ts
  packages/collaborative-drive/src/tokens.ts
  packages/docprovider-extension/src/typings.d.ts
  packages/docprovider/package.json
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/typings.d.ts
  packages/docprovider/src/yprovider.ts
  packages/docprovider/tsconfig.json
  packages/y-webrtc/.dockerignore
  packages/y-webrtc/.gitignore
  packages/y-webrtc/Dockerfile
  packages/y-webrtc/LICENSE
  packages/y-webrtc/README.md
  packages/y-webrtc/bin/server.js
  packages/y-webrtc/demo/index.html
  packages/y-webrtc/demo/index.js
  packages/y-webrtc/fly.toml
  packages/y-webrtc/index.html
  packages/y-webrtc/now.json
  packages/y-webrtc/package.json
  packages/y-webrtc/rollup.config.js
  packages/y-webrtc/src/crypto.js
  packages/y-webrtc/src/y-webrtc.js
  packages/y-webrtc/test/crypto.test.js
  packages/y-webrtc/test/index.js
  packages/y-webrtc/tsconfig.json
  scripts/dev_install.py
  tsconfig.json
  yarn.lock
Due: prettier, eslint

Publish 4.3.0beta0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Use file path (not ID) for WebRTC
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  packages/y-webrtc/src/y-webrtc.js
Due: prettier, eslint

Load content when first in room
  packages/docprovider/src/yprovider.ts
  packages/y-webrtc/src/y-webrtc.js
Due: prettier, eslint

Support saving content
  packages/docprovider/src/yprovider.ts
  packages/y-webrtc/src/y-webrtc.js
  projects/jupyter-server-signaling/jupyter_server_signaling/handlers.py
Due: prettier, eslint

Use the drive to load/save document
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Make WebSocket provider the default
  packages/collaboration-extension/src/collaboration.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Allow selecting the document provider from settings
  packages/collaboration-extension/schema/provider.json
  packages/collaboration-extension/src/index.ts
  packages/collaboration-extension/src/provider.ts
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Make WebRTC signal server URLs configurable
  packages/collaboration-extension/schema/provider.json
  packages/collaboration-extension/src/provider.ts
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  packages/y-webrtc/src/y-webrtc.js
Due: prettier, eslint

Publish 4.3.0rc0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

pre-commit
  .eslintrc.js
  package.json
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/yprovider.ts
  packages/y-webrtc/.gitignore
  packages/y-webrtc/Dockerfile
  packages/y-webrtc/bin/server.js
  packages/y-webrtc/demo/index.html
  packages/y-webrtc/demo/index.js
  packages/y-webrtc/fly.toml
  packages/y-webrtc/now.json
  packages/y-webrtc/rollup.config.js
  packages/y-webrtc/src/crypto.js
  packages/y-webrtc/src/y-webrtc.js
  scripts/dev_install.py
  yarn.lock
Due: prettier, eslint

Publish 4.3.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Review
  package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration-extension/src/provider.ts
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/tokens.ts
  yarn.lock
Due: prettier, eslint

fix
  packages/y-webrtc/src/y-webrtc.js
Due: prettier, eslint

pre-commit
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/tokens.ts
  packages/y-webrtc/src/y-webrtc.js
Due: prettier, eslint

pin `httpx-ws` for tests
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Pin httpx-ws<0.9.0
  projects/jupyter-server-ydoc/pyproject.toml
Due: none
