Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: \.py$

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py37-plus]

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          ["flake8-bugbear==22.6.22", "flake8-implicit-str-concat==0.2.0"]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "^binder/jupyter_config\\.py$"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

add loggin and error handling in handlers.
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

removed unused code in restore endpoint.
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

update pycrdt-websocket version requirement.
  Untitled.ipynb
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

update pycrdt-websocket version requirement.
  Untitled.ipynb
Due: none

styling issues resolved.
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/TimelineSlider.tsx
  packages/docprovider/src/component.tsx
  packages/docprovider/style/slider.css
Due: prettier, eslint, stylelint

remove widget attachement to body.
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Fix readthedocs URL
  typedoc.json
Due: prettier

Fix readthedocs URL (#344)
  typedoc.json
Due: prettier

Implementing Collaborative Timeline Slider with Undo/Redo Functionality (#338)
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider/src/TimelineSlider.tsx
  packages/docprovider/src/component.tsx
  packages/docprovider/src/index.ts
  packages/docprovider/src/requests.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  packages/docprovider/style/base.css
  packages/docprovider/style/index.css
  packages/docprovider/style/index.js
  packages/docprovider/style/slider.css
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/pyproject.toml
  yarn.lock
Due: prettier, eslint, stylelint

Remove unused chat feature
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/utils.ts
Due: prettier, eslint

Register RTC content provider
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Review
  packages/docprovider/src/awareness.ts
Due: prettier, eslint

Remove unused chat feature (#346)
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/utils.ts
Due: prettier, eslint

Handle generic document types in timeline
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Handle generic document types in timeline (#349)
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Publish 3.0.0beta4
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Add missing aria label to the file browser
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Add missing aria label to the file browser (#355)
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Publish 3.0.0beta5
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Remove unused `ISettingRegistry` token
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Lint
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Remove the unused `ISettingRegistry` token from the file browser plugin (#356)
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Publish 3.0.0beta6
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Remove type ignore that make mypy fails
  scripts/bump_version.py
Due: none

Fix the increment version
  scripts/bump_version.py
Due: none

Revert "Fix the increment version"
  scripts/bump_version.py
Due: none

Revert "Remove type ignore that make mypy fails"
  scripts/bump_version.py
Due: none

Ignore bump script with mypy
  pyproject.toml
Due: none

Remove unnecessary type ignore
  scripts/bump_version.py
Due: none

Exclude file in pre-commit config
  .pre-commit-config.yaml
Due: none

Fix mypy (#358)
  .pre-commit-config.yaml
  pyproject.toml
  scripts/bump_version.py
Due: none

Fix ignoring AnyIO warnings in tests
  pyproject.toml
Due: none

Fix ignoring AnyIO warnings in tests (#359)
  pyproject.toml
Due: none

Ignore github.com in check-links
  .github/workflows/test.yml
Due: none

Ignore github.com in check-links (#360)
  .github/workflows/test.yml
Due: none

Backport 'Fix mypy' #358
  .pre-commit-config.yaml
  pyproject.toml
  scripts/bump_version.py
Due: none

lint
  scripts/bump_version.py
Due: none

Fix dependencies
  projects/jupyter-collaboration/pyproject.toml
Due: none

fix bump file
  scripts/bump_version.py
Due: none

Backport 'Fix mypy' #358 (#361)
  .pre-commit-config.yaml
  pyproject.toml
  scripts/bump_version.py
Due: none
