Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: jlpm run prettier
  language: node

eslint:
  name: eslint
  entry: jlpm run eslint
  language: node

stylelint:
  name: stylelint
  entry: jlpm run stylelint
  language: node

Fix binder build
  binder/environment.yml
  binder/postBuild
Due: none

Pin 3.11 for now
  binder/environment.yml
Due: none

Allow saving current document when out-of-band changes
  docs/source/index.md
  packages/docprovider-extension/src/yprovider.ts
  packages/docprovider/src/__tests__/yprovider.spec.ts
  packages/docprovider/src/yprovider.ts
  packages/docprovider/style/outofband.css
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  tests/test_outofband.py
  tests/test_rooms.py
Due: prettier, eslint, stylelint

Use synchronous FileContentsManager for tests
  tests/test_outofband.py
Due: none

Request content when listing directory
  packages/docprovider/src/__tests__/yprovider.spec.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Don't use ystate for notifying out-of-band changes
  packages/docprovider/src/__tests__/yprovider.spec.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  tests/test_documents.py
  tests/test_outofband.py
Due: prettier, eslint

Add type annotation
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Make ExternalChangeHandler independant of WebSocketProvider
  packages/docprovider/src/__tests__/externalChange.spec.ts
  packages/docprovider/src/externalChange.ts
  packages/docprovider/src/index.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Notify user for deleted file
  packages/docprovider/src/__tests__/externalChange.spec.ts
  packages/docprovider/src/externalChange.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  tests/test_loaders.py
  tests/test_outofband.py
Due: prettier, eslint

Make tests more robust
  tests/test_app.py
  tests/test_documents.py
Due: none

pre-commit
  tests/test_documents.py
Due: none

Fix remote cursors on wrapped lines
  packages/collaboration/src/cursors.ts
Due: prettier, eslint

Ship the cursor pill styles as plain CSS (#628)
  packages/collaboration/src/cursors.ts
  packages/collaboration/style/base.css
  packages/collaboration/style/cursors.css
  ui-tests/tests/cursors.spec.ts
  ui-tests/tests/cursors.spec.ts-snapshots/collaborator-pill-linux.png
Due: prettier, eslint, stylelint

better cursor tracking
  packages/collaboration/src/cursors.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
