Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "(^binder/jupyter_config\\.py$)|(^scripts/bump_version\\.py$)|(/setup\\.py$)"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

Do not crash on out of band change when room is disconnected and ystore deleted (or no-op) (#584)
  packages/docprovider-extension/src/yprovider.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  tests/test_documents.py
  ui-tests/jupyter_server_test_config.py
  ui-tests/tests/conflict.spec.ts
Due: prettier, eslint

Better screenshots
  ui-tests/tests/conflict.spec.ts
Due: prettier, eslint

Pin resolution of rendermime
  package.json
  yarn.lock
Due: prettier

Fix screenshot
  ui-tests/tests/conflict.spec.ts
Due: prettier, eslint

Add snapshots
  ui-tests/tests/conflict.spec.ts
  ui-tests/tests/conflict.spec.ts-snapshots/conflict-dialog-linux.png
  ui-tests/tests/conflict.spec.ts-snapshots/conflict-diff-linux.png
Due: prettier, eslint

Regenerate snapshots with lab 4.6 and compress
  ui-tests/tests/conflict.spec.ts-snapshots/conflict-dialog-linux.png
  ui-tests/tests/conflict.spec.ts-snapshots/conflict-diff-linux.png
Due: none

Configurable `session_store_path` (#586)
  docs/source/configuration.md
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
  tests/test_session_store.py
Due: none

Update snapshot from CI
  ui-tests/tests/conflict.spec.ts-snapshots/conflict-dialog-linux.png
Due: none

Fix watch
  package.json
Due: prettier

Remove unused screenshot
  ui-tests/conflict-diff.png
Due: none

Expose metadata changes in diff
  packages/docprovider-extension/src/conflictDiffWidget.ts
  packages/docprovider-extension/style/conflictDiff.css
Due: prettier, eslint, stylelint

Add buttons for the diff
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/yprovider.ts
  ui-tests/tests/conflict.spec.ts
  ui-tests/tests/conflict.spec.ts-snapshots/conflict-diff-linux.png
  yarn.lock
Due: prettier, eslint

Tidy up the API
  packages/docprovider-extension/src/conflictDiffWidget.ts
  packages/docprovider-extension/src/yprovider.ts
Due: prettier, eslint

Backport PR #584: Do not crash on out of band change when room is disconnected and ystore deleted (or no-op)
  packages/docprovider-extension/src/yprovider.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  tests/test_documents.py
  ui-tests/jupyter_server_test_config.py
  ui-tests/tests/conflict.spec.ts
Due: prettier, eslint

Update required `jupyter_ydoc` and `pycrdt-websocket` versions
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Backport UI tests workflow fix
  .github/workflows/test.yml
Due: none

We have `@playwright/test` on this branch
  .github/workflows/test.yml
Due: none

Drop `--only-shell`
  .github/workflows/test.yml
Due: none

Fix UI tests workflow on `4.4.x` branch
  .github/workflows/test.yml
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

Fix UI tests workflow on `4.4.x` branch (#592)
  .github/workflows/test.yml
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

Backport PR #584 on branch 4.4.x (Do not crash on out of band change when room is disconnected and ystore deleted (or no-op)) (#591)
  .github/workflows/test.yml
  packages/docprovider-extension/src/yprovider.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/pyproject.toml
  tests/test_documents.py
  ui-tests/jupyter_server_test_config.py
  ui-tests/tests/conflict.spec.ts
Due: prettier, eslint

Publish 4.4.1
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Stream notebook loading progressively
  docs/source/configuration.md
  packages/docprovider/src/__tests__/yprovider.spec.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  tests/test_app.py
  tests/test_rooms.py
Due: prettier, eslint

Apply pre-commit formatting
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  tests/test_rooms.py
Due: none

Publish 5.0.0alpha0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Add a test demonstrating expected behaviour (should fail)
  tests/test_documents.py
Due: none

Fix mypy
  tests/test_documents.py
Due: none

Implement deduplication and conflict notification
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Only show the diff button for notebooks
  packages/docprovider-extension/src/yprovider.ts
Due: prettier, eslint

Add progressive notebook loading UI test
  projects/jupyter-server-ydoc/pyproject.toml
  ui-tests/jupyter_server_test_config.py
  ui-tests/tests/progressive-loading.spec.ts
Due: prettier, eslint

Show dialog when document initialization times out
  packages/docprovider/src/__tests__/yprovider.spec.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Fix reconnect tests
  tests/test_documents.py
Due: none

lint
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Add a test
  tests/test_documents.py
Due: none

Fix the issue using deterministic, content-derived IDs
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Move the timeline status bar slider to the jupyter-collaboration-ui package
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/index.ts
  packages/collaboration-extension/src/timeline.ts
  packages/collaboration/package.json
  packages/collaboration/src/TimelineSlider.tsx
  packages/collaboration/src/component.tsx
  packages/collaboration/src/index.ts
  packages/collaboration/style/base.css
  packages/collaboration/style/slider.css
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider/src/index.ts
  packages/docprovider/style/base.css
  yarn.lock
Due: prettier, eslint, stylelint

Add a "Show diff" option when an unresolvable conflict is detected on out of band change (#589)
  package.json
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/conflictDiffWidget.ts
  packages/docprovider-extension/src/yprovider.ts
  packages/docprovider-extension/style/conflictDiff.css
  packages/docprovider/src/yprovider.ts
  ui-tests/tests/conflict.spec.ts
  ui-tests/tests/conflict.spec.ts-snapshots/conflict-dialog-linux.png
  ui-tests/tests/conflict.spec.ts-snapshots/conflict-diff-linux.png
  yarn.lock
Due: prettier, eslint, stylelint

Add 'Continue waiting' button
  packages/docprovider/src/__tests__/yprovider.spec.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

bump-eslint-to-v9
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier, eslint

adopt-eslint-plugin
  eslint.config.mjs
  package.json
  packages/collaboration-extension/src/collaboration.ts
  yarn.lock
Due: prettier, eslint
