Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: \.py$

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py37-plus]

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          ["flake8-bugbear==22.6.22", "flake8-implicit-str-concat==0.2.0"]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "^binder/jupyter_config\\.py$"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

Review: use lab console log
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/filebrowser.ts
  yarn.lock
Due: prettier, eslint

Update dependencies
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/filebrowser.ts
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier, eslint

Update jupyter_collaboration/events/session.yaml
  jupyter_collaboration/events/session.yaml
Due: none

Review
  jupyter_collaboration/events/session.yaml
  jupyter_collaboration/utils.py
  package.json
  packages/collaboration-extension/src/filebrowser.ts
  yarn.lock
Due: prettier, eslint

Emit events for collaborative sessions (#139)
  jupyter_collaboration/app.py
  jupyter_collaboration/events/session.yaml
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/utils.py
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/filebrowser.ts
  packages/collaboration-extension/src/index.ts
  packages/collaboration/package.json
  packages/docprovider/package.json
  packages/docprovider/src/ydrive.ts
  pyproject.toml
  yarn.lock
Due: prettier, eslint

Fix typo and punctuation
  packages/collaboration-extension/src/filebrowser.ts
Due: prettier, eslint

Fix typo and punctuation (#140)
  packages/collaboration-extension/src/filebrowser.ts
Due: prettier, eslint

Update lab
  binder/environment.yml
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  pyproject.toml
  yarn.lock
Due: prettier

Update lab (#141)
  binder/environment.yml
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  pyproject.toml
  yarn.lock
Due: prettier

Fix asyncio.Task type for python<=3.8
  jupyter_collaboration/handlers.py
Due: none

Fix asyncio.Task type for python<=3.8 (#143)
  jupyter_collaboration/handlers.py
Due: none

Test frontend on CI
  .github/workflows/test.yml
Due: none

Fix CI
  .github/workflows/test.yml
  packages/collaboration/babel.config.js
  packages/docprovider/jest.config.js
Due: prettier, eslint

Fix Jest config
  .gitignore
  packages/docprovider/jest.config.js
  packages/docprovider/package.json
  packages/docprovider/src/__tests__/yprovider.spec.ts
  packages/docprovider/tsconfig.json
  yarn.lock
Due: prettier, eslint

Fix shell for windows
  .github/workflows/test.yml
Due: none

Fix tests
  .github/workflows/test.yml
Due: none

Add JavaScript and lab extension test in CI (#144)
  .github/workflows/test.yml
  .gitignore
  packages/collaboration/babel.config.js
  packages/docprovider/jest.config.js
  packages/docprovider/package.json
  packages/docprovider/src/__tests__/yprovider.spec.ts
  packages/docprovider/tsconfig.json
  yarn.lock
Due: prettier, eslint

Add license to files automatically
  .github/workflows/license-header.yml
  .licenserc.yaml
Due: none

Lint file
  .licenserc.yaml
Due: none

Add license to files automatically (#147)
  .github/workflows/license-header.yml
  .licenserc.yaml
Due: none

Wait for the document to be synced
  packages/docprovider/src/requests.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Fix injecting user menu bar in top bar.
  packages/collaboration-extension/src/collaboration.ts
Due: prettier, eslint

Wait for the document to be synced (#148)
  docs/source/developer/contributing.rst
  jupyter_collaboration/__init__.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/utils.py
  packages/collaboration-extension/src/filebrowser.ts
  packages/docprovider/src/requests.ts
  packages/docprovider/src/yprovider.ts
  pyproject.toml
  setup.py
  tests/__init__.py
  tests/conftest.py
  tests/test_ydoc.py
Due: prettier, eslint

Fix injecting user menu bar in top bar. (#149)
  packages/collaboration-extension/src/collaboration.ts
Due: prettier, eslint

Add file editor tracker
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/filebrowser.ts
  yarn.lock
Due: prettier, eslint

Upgrade to 4.0.0-rc.1
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Update to lab 4
  .github/workflows/test.yml
  binder/environment.yml
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  pyproject.toml
  yarn.lock
Due: prettier

Lint
  tests/__init__.py
  tests/test_ydoc.py
Due: none

Add logger for file editor (#145)
  .github/workflows/test.yml
  binder/environment.yml
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/filebrowser.ts
  packages/collaboration/package.json
  packages/docprovider/package.json
  pyproject.toml
  tests/__init__.py
  tests/test_ydoc.py
  yarn.lock
Due: prettier, eslint

Add share link feature
  packages/collaboration-extension/schema/shared-link.json
  packages/collaboration-extension/src/index.ts
  packages/collaboration-extension/src/sharedlink.ts
  packages/collaboration/src/index.ts
  packages/collaboration/src/sharedlink.ts
  packages/collaboration/src/utils.ts
  packages/collaboration/style/base.css
  packages/docprovider/src/requests.ts
Due: prettier, eslint, stylelint

Run pre-commit
  packages/collaboration-extension/schema/shared-link.json
  tests/__init__.py
  tests/test_ydoc.py
Due: prettier

Add share link feature (#150)
  packages/collaboration-extension/schema/shared-link.json
  packages/collaboration-extension/src/index.ts
  packages/collaboration-extension/src/sharedlink.ts
  packages/collaboration/src/index.ts
  packages/collaboration/src/sharedlink.ts
  packages/collaboration/src/utils.ts
  packages/collaboration/style/base.css
  packages/docprovider/src/requests.ts
Due: prettier, eslint, stylelint

Improve code architecture
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/websocketserver.py
  pyproject.toml
Due: none

Restructure loaders
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  tests/test_loaders.py
  tests/test_ydoc.py
Due: none

Create clean up tasks
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/websocketserver.py
  tests/test_loaders.py
Due: none

Update jupyter_collaboration/loaders.py
  jupyter_collaboration/loaders.py
Due: none

Update jupyter_collaboration/websocketserver.py
  jupyter_collaboration/websocketserver.py
Due: none

Update jupyter_collaboration/app.py
  jupyter_collaboration/app.py
Due: none
