Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "(^binder/jupyter_config\\.py$)|(^scripts/bump_version\\.py$)|(/setup\\.py$)"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

Please `mypy`
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Add URLs to `pyproject.toml` files
  projects/jupyter-collaboration-ui/pyproject.toml
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/pyproject.toml
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Fix translation for share link label too
  packages/collaboration-extension/src/sharedlink.ts
Due: prettier, eslint

Add URLs to `pyproject.toml` files (#491)
  projects/jupyter-collaboration-ui/pyproject.toml
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/pyproject.toml
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Bump pycrdt-websocket v0.16.0
  docs/source/configuration.md
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/stores.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/test_utils.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/websocketserver.py
  projects/jupyter-server-ydoc/pyproject.toml
  tests/test_documents.py
  tests/test_handlers.py
Due: none

Fix translation loading in share link dialog (#488)
  packages/collaboration-extension/src/sharedlink.ts
  packages/collaboration/src/sharedlink.ts
Due: prettier, eslint

Remove type:ignore
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Use `MessageType.RAW` instead of a custom var
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Update error message
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Pin pre-commit `pycrdt-websocket` version
  .pre-commit-config.yaml
Due: none

Add save ID to avoid mixing statuses
  packages/docprovider/src/ydrive.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: prettier, eslint

Require jupyter_ydoc>=3.0.3
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

handle-race-condition-with-locks
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

refactor-code
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

use-defaultdict
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
Due: none

Fix confirmation on manual saving (#490)
  .pre-commit-config.yaml
  packages/docprovider/src/ydrive.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: prettier, eslint

Publish 4.1.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Update pre-commit dependencies
  .pre-commit-config.yaml
Due: none

Bump `pycrdt-websocket` to `v0.16.0` (#493)
  .pre-commit-config.yaml
  docs/source/configuration.md
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/stores.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/test_utils.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/websocketserver.py
  projects/jupyter-server-ydoc/pyproject.toml
  tests/test_documents.py
  tests/test_handlers.py
Due: none

Publish 4.1.1
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Document the breaking change in 4.0 in the changelog
  CHANGELOG.md
Due: none

Define `ICollaborativeContentProvider` as inheriting from `IContentProvider`
  packages/collaborative-drive/src/tokens.ts
Due: prettier, eslint

Lint
  packages/collaborative-drive/src/tokens.ts
Due: prettier, eslint

Lint
  CHANGELOG.md
Due: none

add-compression-decompression-traitlets
  projects/jupyter-server-ydoc/jupyter_server_ydoc/stores.py
  tests/test_app.py
Due: none

fix-pre-commit
  projects/jupyter-server-ydoc/jupyter_server_ydoc/stores.py
Due: none

fix handling of hubHost
  packages/collaboration/src/sharedlink.ts
  ui-tests/tests/hub-share.spec.ts
Due: prettier, eslint

Rework RtcContentProvider relationship with the drive
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Fix compilation
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Add npmjs.com to ignored links in test workflow
  .github/workflows/test.yml
Due: none

Update snapshots - tiny markdown rendering shift
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
Due: none

Add npmjs.com to ignored links in test workflow (#512)
  .github/workflows/test.yml
Due: none

Update snapshots - tiny markdown rendering shift (#513)
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
Due: none

fix: clean up background tasks on close
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Add a test
  ui-tests/tests/notebook.spec.ts
Due: prettier, eslint

Fix saving after rename
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Add a warning
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Handle race condition if rename and save happens quickly
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Define `ICollaborativeContentProvider` as inheriting from `IContentProvider` (#499)
  packages/collaborative-drive/src/tokens.ts
Due: prettier, eslint
