Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: jlpm run prettier
  language: node

eslint:
  name: eslint
  entry: jlpm run eslint
  language: node

stylelint:
  name: stylelint
  entry: jlpm run stylelint
  language: node

Self review
  jupyter_collaboration/app.py
  jupyter_collaboration/websocketserver.py
Due: none

Update jupyter_collaboration/websocketserver.py
  jupyter_collaboration/websocketserver.py
Due: none

Finalize PR
  .gitignore
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/websocketserver.py
  tests/test_loaders.py
Due: none

Update jupyter_collaboration/loaders.py
  jupyter_collaboration/loaders.py
Due: none

Something is broken
  jupyter_collaboration/websocketserver.py
Due: none

Clean websocket server
  docs/source/developer/contributing.rst
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/websocketserver.py
Due: none

Improve code architecture (#146)
  .gitignore
  docs/source/developer/contributing.rst
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/websocketserver.py
  pyproject.toml
  tests/test_loaders.py
  tests/test_ydoc.py
Due: none

Fix binder env
  binder/environment.yml
Due: none

Support file types
  jupyter_collaboration/loaders.py
Due: none

Improves error handling
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/utils.py
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Install yarn 3
  binder/environment.yml
Due: none

Fix binder env (#152)
  binder/environment.yml
Due: none

Support file types (#154)
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/utils.py
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Publish 1.0.0alpha9
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Remove spurious `'`
  packages/collaboration-extension/src/filebrowser.ts
Due: prettier, eslint

Remove spurious `'` (#156)
  packages/collaboration-extension/src/filebrowser.ts
Due: prettier, eslint

Publish 1.0.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Fix npm tag for publication of final version
  pyproject.toml
Due: none

Fix package name in README
  README.md
Due: none

Fix npm tag for publication of final version (#158)
  pyproject.toml
Due: none

Fix package name in README (#159)
  README.md
Due: none

Tasks cleanup
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/utils.py
  jupyter_collaboration/websocketserver.py
Due: none

Add workflow
  .github/workflows/test.yml
Due: none

Ui-tests for collaboration panel
  .gitignore
  ui-tests/README.md
  ui-tests/jupyter_server_test_config.py
  ui-tests/package.json
  ui-tests/playwright.config.js
  ui-tests/tests/collaborationpanel.spec.ts
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/collaboration-icon-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/collaborationPanelCollapsed-linux.png
  ui-tests/yarn.lock
Due: prettier, eslint

Adds user menu test
  ui-tests/tests/user-menu.spec.ts
  ui-tests/tests/user-menu.spec.ts-snapshots/shared-link-dialog-linux.png
  ui-tests/tests/user-menu.spec.ts-snapshots/shared-link-icon-linux.png
Due: prettier, eslint

Test clicking on collaborator name
  .github/workflows/test.yml
  ui-tests/tests/collaborationpanel.spec.ts
  ui-tests/tests/user-menu.spec.ts
Due: prettier, eslint

.github/workflows/test.yml
  .github/workflows/test.yml
Due: none

fix collaboration test
  ui-tests/tests/collaborationpanel.spec.ts
Due: prettier, eslint

fix test file
  .github/workflows/test.yml
Due: none

Fix pre-commit
  .github/workflows/test.yml
  ui-tests/jupyter_server_test_config.py
  ui-tests/tests/user-menu.spec.ts
Due: prettier, eslint

Lint files
  jupyter_collaboration/rooms.py
  ui-tests/tests/notebook.spec.ts
Due: prettier, eslint

Lint notebook.spec.ts
  ui-tests/tests/notebook.spec.ts
Due: prettier, eslint

Forget checkout step...
  .github/workflows/test.yml
Due: none

Fix install instructions to use correct name
  docs/source/index.md
Due: none

Fix install instructions to use correct name (#166)
  docs/source/index.md
Due: none

Don't wait for Python test for UI tests macOS is flaky
  .github/workflows/test.yml
Due: none

Creates a subprotocol to broadcast messages
  jupyter_collaboration/handlers.py
  jupyter_collaboration/utils.py
  packages/collaboration-extension/src/collaboration.ts
Due: prettier, eslint

Creates a WebSocketAwarenessProvider
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/package.json
  packages/collaboration/src/tokens.ts
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/index.ts
  packages/docprovider/src/tokens.ts
  yarn.lock
Due: prettier, eslint

Pre commit
  jupyter_collaboration/handlers.py
  jupyter_collaboration/utils.py
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/src/tokens.ts
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/tokens.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
