Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: jlpm run prettier
  language: node

eslint:
  name: eslint
  entry: jlpm run eslint
  language: node

stylelint:
  name: stylelint
  entry: jlpm run stylelint
  language: node

Fix file id not available for jupyter-server (#307)
  .eslintignore
  .prettierignore
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/executor.ts
  packages/docprovider/package.json
  packages/docprovider/src/index.ts
  packages/docprovider/src/notebookCellExecutor.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  yarn.lock
Due: prettier, eslint

Publish 3.0.0beta0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Move fixtures to `jupyter_server_ydoc.pytest_plugin`
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/test_utils.py
  tests/conftest.py
  tests/test_app.py
  tests/test_loaders.py
Due: none

Fix formatting
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
Due: none

It looks prettier is out of sync
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
Due: none

Add a notebook test for `get_document`, fix rtc_add_doc_to_store for notebooks
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  tests/test_app.py
Due: none

Remove @jupyter/collaboration dependencie from @jupyter/docprovider
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/package.json
  packages/collaboration/src/tokens.ts
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/tokens.ts
  yarn.lock
Due: prettier, eslint

Remove @jupyter/collaboration dependencie from @jupyter/docprovider (#331)
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/package.json
  packages/collaboration/src/tokens.ts
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/tokens.ts
  yarn.lock
Due: prettier, eslint

Move fixtures to `jupyter_server_ydoc.pytest_plugin` (#327)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/test_utils.py
  tests/conftest.py
  tests/test_app.py
  tests/test_loaders.py
Due: none

Add notebook test for `get_document`, fix fixture when `store=True` (#329)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  tests/test_app.py
Due: none

Publish 3.0.0beta1
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Bump pycrdt-websocket>=0.14.0,<0.15.0 (#323)
  jupyter_collaboration/handlers.py
  pyproject.toml
Due: none

Publish 2.1.2
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

collaborative timeline slider added in the status bar
  .gitignore
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider/src/TimelineSlider.tsx
  packages/docprovider/src/component.tsx
  packages/docprovider/src/index.ts
  packages/docprovider/src/requests.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  packages/docprovider/style/base.css
  packages/docprovider/style/index.css
  packages/docprovider/style/index.js
  packages/docprovider/style/slider.css
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  yarn.lock
Due: prettier, eslint, stylelint

fixed pre commit issues
  .gitignore
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/component.tsx
  packages/docprovider/src/index.ts
  packages/docprovider/src/yprovider.ts
  packages/docprovider/style/slider.css
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: prettier, eslint, stylelint

fixed pre commit issues
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

add license header to new files
  packages/docprovider/src/TimelineSlider.tsx
  packages/docprovider/src/component.tsx
  packages/docprovider/style/slider.css
Due: prettier, eslint, stylelint

collaborative timeline slider added in the status bar
  .github/workflows/test.yml
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider/src/TimelineSlider.tsx
  packages/docprovider/src/component.tsx
  packages/docprovider/src/index.ts
  packages/docprovider/src/requests.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  packages/docprovider/style/base.css
  packages/docprovider/style/index.css
  packages/docprovider/style/index.js
  packages/docprovider/style/slider.css
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  yarn.lock
Due: prettier, eslint, stylelint

python test debug: test.yaml
  .github/workflows/test.yml
Due: none

Allow jupyter-ydoc v3.0.0-a3 or higher
  packages/collaboration-extension/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-server-ydoc/pyproject.toml
  yarn.lock
Due: prettier

Bump dependencies to fix CI
  projects/jupyter-collaboration/pyproject.toml
Due: none

Update metapackage on release
  pyproject.toml
  scripts/bump_version.py
Due: none

Install `tomlkit` before version bump
  pyproject.toml
Due: none

Allow jupyter-ydoc v3.0.0-a3 or higher (#334)
  packages/collaboration-extension/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-server-ydoc/pyproject.toml
  yarn.lock
Due: prettier

Publish 3.0.0beta2
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Bump dependencies to fix CI (#335)
  projects/jupyter-collaboration/pyproject.toml
  pyproject.toml
  scripts/bump_version.py
Due: none

Save current hash on the document
  packages/docprovider/src/ydrive.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: prettier, eslint

Use public API now that PR 262 in `jupyter_ydoc` is merged
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Use a clean solution which requires a change in JupyterLab
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

`jupyter-server-ydoc`: require `jupyter-server` 2.11.1 or newer
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Fix spurious "File Changed" dialog in JupyterLab 4.1+/Notebook 7.1+ (#337)
  packages/docprovider/src/ydrive.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/pyproject.toml
Due: prettier, eslint

Publish 3.0.0beta3
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

collaborative timeline slider added in the status bar
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider/src/TimelineSlider.tsx
  packages/docprovider/src/component.tsx
  packages/docprovider/src/index.ts
  packages/docprovider/src/requests.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  packages/docprovider/style/base.css
  packages/docprovider/style/index.css
  packages/docprovider/style/index.js
  packages/docprovider/style/slider.css
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  yarn.lock
Due: prettier, eslint, stylelint

added code changes as requested.
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/TimelineSlider.tsx
  packages/docprovider/src/component.tsx
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  packages/docprovider/style/slider.css
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: prettier, eslint, stylelint

fixed issue with opening timeline after closing notebook & generic type in handler
  packages/docprovider-extension/src/filebrowser.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: prettier, eslint

slider set to undo stack updates, improved fork handling
  packages/docprovider/src/component.tsx
  packages/docprovider/src/requests.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: prettier, eslint

remove global variable keeping track of undo managers
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

reconnect & refetching timeline after restore.
  packages/docprovider/src/component.tsx
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
