Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: jlpm run prettier
  language: node

eslint:
  name: eslint
  entry: jlpm run eslint
  language: node

stylelint:
  name: stylelint
  entry: jlpm run stylelint
  language: node

Publish 2.0.3
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Add test for document dirty attribute (#251)
  pyproject.toml
  tests/conftest.py
  tests/test_documents.py
Due: none

Publish 2.0.8
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Publish 2.0.5
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Fix cancellation of file save operation (#241)
  jupyter_collaboration/rooms/document.py
Due: none

Publish 2.0.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Publish 2.0.7
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Fix UI tests (#277)
  ui-tests/package.json
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/collaborationPanelCollapsed-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/three-client-with-document-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/three-client-without-document-linux.png
  ui-tests/tests/notebook.spec.ts
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-host-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
  ui-tests/tests/user-menu.spec.ts
  ui-tests/tests/user-menu.spec.ts-snapshots/shared-link-icon-linux.png
  ui-tests/yarn.lock
Due: prettier, eslint

Fix releaser (#268)
  .github/workflows/publish-release.yml
Due: none

Bump jupyter_events (#258)
  pyproject.toml
Due: none

Publish 2.0.6
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Use WebSocket _room_id attribute (#266)
  jupyter_collaboration/handlers.py
Due: none

adding awareness event when open and close websockets (#246)
  jupyter_collaboration/app.py
  jupyter_collaboration/events/awareness.yaml
  jupyter_collaboration/handlers.py
  jupyter_collaboration/utils.py
  tests/test_handlers.py
Due: none

Publish 2.0.2
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Use pycrdt-websocket instead of ypy-websocket (#220)
  docs/source/configuration.md
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms/document.py
  jupyter_collaboration/stores/stores.py
  jupyter_collaboration/websocketserver.py
  pyproject.toml
  tests/conftest.py
  tests/test_handlers.py
  tests/utils.py
Due: none

Support server-side execution (#279)
  .github/workflows/test.yml
  docs/source/configuration.md
  jupyter_collaboration/app.py
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration-extension/src/index.ts
  packages/docprovider/jest.config.js
  pyproject.toml
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-host-linux.png
  yarn.lock
Due: prettier, eslint

Add a public API for getting a read-only view of the shared model (#275)
  docs/source/developer/python_api.rst
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/utils.py
  tests/test_app.py
Due: none

Workaround shutdown issue with `aiosqlite` for now (#278)
  tests/test_documents.py
Due: none

Publish 3.0.0beta0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Fix readthedocs URL (#344)
  typedoc.json
Due: prettier

Update pycrdt-websocket v0.13.0 (#293)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/websocketserver.py
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Fix spurious "File Changed" dialog in JupyterLab 4.1+/Notebook 7.1+ (#337)
  packages/docprovider/src/ydrive.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/pyproject.toml
Due: prettier, eslint

Update JupyterLab 4.2.0 and fix test start store (#305)
  packages/collaboration-extension/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  tests/conftest.py
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-host-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
  yarn.lock
Due: prettier

Publish 3.0.0beta1
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Remove @jupyter/collaboration dependencie from @jupyter/docprovider (#331)
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/package.json
  packages/collaboration/src/tokens.ts
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/tokens.ts
  yarn.lock
Due: prettier, eslint

handle exception when websocket server start room failed
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  tests/test_handlers.py
Due: none

Implementing Collaborative Timeline Slider with Undo/Redo Functionality (#338)
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider/src/TimelineSlider.tsx
  packages/docprovider/src/component.tsx
  packages/docprovider/src/index.ts
  packages/docprovider/src/requests.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  packages/docprovider/style/base.css
  packages/docprovider/style/index.css
  packages/docprovider/style/index.js
  packages/docprovider/style/slider.css
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/pyproject.toml
  yarn.lock
Due: prettier, eslint, stylelint

Allow jupyter-ydoc v3.0.0-a3 or higher (#334)
  packages/collaboration-extension/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-server-ydoc/pyproject.toml
  yarn.lock
Due: prettier

Publish 3.0.0beta2
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Publish 3.0.0beta3
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Bump pycrdt-websocket v0.14.0 (#320)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/pyproject.toml
  pyproject.toml
Due: none

Publish 3.0.0alpha0
  CHANGELOG.md
  package.json
Due: prettier

Add the list of opened shared documents to the user awareness (#287)
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/package.json
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/src/tokens.ts
  packages/collaboration/style/sidepanel.css
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/ydrive.ts
  ui-tests/tests/collaborationpanel.spec.ts
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/one-client-with-two-documents-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/three-client-with-document-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/three-client-without-document-linux.png
  yarn.lock
Due: prettier, eslint, stylelint

Start ystore in a task (#303)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Move fixtures to `jupyter_server_ydoc.pytest_plugin` (#327)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/test_utils.py
  tests/conftest.py
  tests/test_app.py
  tests/test_loaders.py
Due: none

Only include `docprovider` and `docprovider-extension` in sdist (#282)
  projects/jupyter-docprovider/pyproject.toml
Due: none

Publish 3.0.0alpha2
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Bump dependencies to fix CI (#335)
  projects/jupyter-collaboration/pyproject.toml
  pyproject.toml
  scripts/bump_version.py
Due: none

Publish 3.0.0alpha1
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
