Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: jlpm run prettier
  language: node

eslint:
  name: eslint
  entry: jlpm run eslint
  language: node

stylelint:
  name: stylelint
  entry: jlpm run stylelint
  language: node

Rooms (#201)
  docs/source/configuration.md
  docs/source/developer/architecture.md
  docs/source/images/autosave_diagram.png
  docs/source/images/conflict_diagram.png
  docs/source/images/initialization_diagram.png
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms/__init__.py
  jupyter_collaboration/rooms/base.py
  jupyter_collaboration/rooms/document.py
  jupyter_collaboration/rooms/manager.py
  jupyter_collaboration/rooms/transient.py
  jupyter_collaboration/stores/__init__.py
  jupyter_collaboration/stores/base_store.py
  jupyter_collaboration/stores/file_store.py
  jupyter_collaboration/stores/utils.py
  pyproject.toml
  tests/conftest.py
  tests/test_rooms.py
Due: none

Adds diagrams
  docs/RTC_diagrams.drawio
  docs/source/developer/architecture.md
  docs/source/images/class_diagram.png
Due: none

Ignore license in drawio files
  .licenserc.yaml
Due: none

Adds diagrams (#203)
  .licenserc.yaml
  docs/RTC_diagrams.drawio
  docs/source/developer/architecture.md
  docs/source/images/class_diagram.png
Due: none

Improves document sessions
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms/base.py
  jupyter_collaboration/rooms/document.py
  jupyter_collaboration/rooms/manager.py
  jupyter_collaboration/stores/base_store.py
  jupyter_collaboration/stores/file_store.py
  jupyter_collaboration/stores/sqlite_store.py
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Fix CI
  tests/conftest.py
  tests/test_handlers.py
Due: none

Pre-commit
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
Due: none

Improves document sessions (#204)
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms/base.py
  jupyter_collaboration/rooms/document.py
  jupyter_collaboration/rooms/manager.py
  jupyter_collaboration/stores/base_store.py
  jupyter_collaboration/stores/file_store.py
  jupyter_collaboration/stores/sqlite_store.py
  packages/docprovider/src/yprovider.ts
  tests/conftest.py
  tests/test_handlers.py
Due: prettier, eslint

Publish 2.0.0alpha0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Move YRoom temporarily
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms/base.py
  jupyter_collaboration/rooms/yroom.py
Due: none

Move YRoom temporarily (#205)
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms/base.py
  jupyter_collaboration/rooms/yroom.py
Due: none

Publish 2.0.0alpha1
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Improves autosaving documents
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms/document.py
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

pre-commit
  .flake8
  jupyter_collaboration/rooms/base.py
  jupyter_collaboration/rooms/document.py
  jupyter_collaboration/rooms/yroom.py
Due: none

Improves autosaving documents (#206)
  .flake8
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms/base.py
  jupyter_collaboration/rooms/document.py
  jupyter_collaboration/rooms/yroom.py
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Publish 2.0.0alpha2
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Fixes error codes
  jupyter_collaboration/handlers.py
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Fixes error codes (#208)
  jupyter_collaboration/handlers.py
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Adds general tests
  tests/conftest.py
  tests/test_general.py
Due: none

Sleep after closing clients
  tests/test_general.py
Due: none

Remove cleanup delay on tests
  tests/conftest.py
  tests/test_app.py
Due: none

Improves tests
  tests/test_general.py
Due: none

Updates documentation
  docs/RTC_diagrams.drawio
  docs/source/developer/architecture.md
  docs/source/images/autosave_diagram.png
  docs/source/images/autosave_diagram.svg
  docs/source/images/class_diagram.png
  docs/source/images/class_diagram.svg
  docs/source/images/conflict_diagram.png
  docs/source/images/conflict_diagram.svg
  docs/source/images/initialization_diagram.png
  docs/source/images/initialization_diagram.svg
  docs/source/images/reconnect_diagram.svg
Due: none

Updates documentation (#209)
  docs/RTC_diagrams.drawio
  docs/source/developer/architecture.md
  docs/source/images/autosave_diagram.png
  docs/source/images/autosave_diagram.svg
  docs/source/images/class_diagram.png
  docs/source/images/class_diagram.svg
  docs/source/images/conflict_diagram.png
  docs/source/images/conflict_diagram.svg
  docs/source/images/initialization_diagram.png
  docs/source/images/initialization_diagram.svg
  docs/source/images/reconnect_diagram.svg
Due: none

Publish 2.0.0alpha3
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Improve document sessions
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms/base.py
  jupyter_collaboration/rooms/document.py
  jupyter_collaboration/utils.py
  packages/docprovider/src/utils.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Improve document sessions (#210)
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms/base.py
  jupyter_collaboration/rooms/document.py
  jupyter_collaboration/utils.py
  packages/docprovider/src/utils.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Publish 2.0.0alpha4
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Update README.md
  README.md
Due: none

Update README.md (#212)
  README.md
Due: none

Set file ID on document state
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Fix for Python 3.12
  .github/workflows/test.yml
  pyproject.toml
  tests/conftest.py
Due: none

Remove use of pytest-asyncio
  pyproject.toml
  tests/conftest.py
  tests/test_loaders.py
  tests/test_rooms.py
Due: none

Remove packageManager entry
  package.json
Due: prettier

Fix mypy
  jupyter_collaboration/handlers.py
Due: none

Re-enable Python 3.11
  .github/workflows/test.yml
  package.json
Due: prettier

Don't test win/py3.12
  .github/workflows/test.yml
  package.json
Due: prettier

Fix URLs in package.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
Due: prettier

Update yarn.lock
  yarn.lock
Due: none

Revert previous commit
  yarn.lock
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
