Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "(^binder/jupyter_config\\.py$)|(^scripts/bump_version\\.py$)|(/setup\\.py$)"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

Match any file, not only files starting with letters
  packages/collaboration-extension/src/collaboration.ts
Due: prettier, eslint

Fix opening collaborator's file (remove no-longer needed RTC prefix)
  packages/collaboration/src/collaboratorspanel.tsx
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Use content providers to remove RTC prefix (#418)
  .github/workflows/test.yml
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/package.json
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaborative-drive/package.json
  packages/collaborative-drive/src/tokens.ts
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider-extension/src/forkManager.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider/package.json
  packages/docprovider/src/__tests__/forkManager.spec.ts
  packages/docprovider/src/forkManager.ts
  packages/docprovider/src/ydrive.ts
  pyproject.toml
  scripts/dev_install.py
  tsconfig.json
  ui-tests/tests/user-menu.spec.ts
  yarn.lock
Due: prettier, eslint

Fix Collaborator panel breaking on opening files without known extension
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

Fix Collaborator panel breaking on opening files without known extension (#427)
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

Publish 4.0.0alpha0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

change set -> map
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

bug
  Untitled.ipynb
  Untitled1.ipynb
  Untitled2.ipynb
  untitled.py
  untitled.txt
Due: none

timeline displayed for documents other than notebooks.
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

timeline displayed for documents other than notebooks.
  Untitled.ipynb
  Untitled1.ipynb
  Untitled2.ipynb
  untitled.py
  untitled.txt
Due: none

make pre-commit hook happy
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

remove rtc
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

remove check for path
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Fix duplicate collaborator entries in collaboration panel (#422)
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

suggested changes.
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

pre-commit
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Fix Timeline Slider Visibility in Status Bar for Certain Documents (#423)
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

pin jupyterlab at >=4.4.0,<5.0.0
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Update projects/jupyter-server-ydoc/pyproject.toml
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

pin jupyterlab at >=4.4.0a2,<5.0.0 in jupyter-collaboration subpackage
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Pin jupyterlab at `>=4.4.0a2,<5.0.0` in `projects/jupyter-collaboration` package (#429)
  projects/jupyter-collaboration/pyproject.toml
Due: none

Publish 4.0.0beta0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Adding a UI to create and revoke shares to users and groups
  packages/collaboration/src/sharedlink.ts
  packages/collaboration/style/base.css
  packages/collaboration/style/sharedlink.css
Due: prettier, eslint, stylelint

Fixing named server trailing slash issue and typo
  packages/collaboration/src/sharedlink.ts
Due: prettier, eslint

Improving scopes checking, adding server management scope
  packages/collaboration/src/sharedlink.ts
Due: prettier, eslint

Fix file saving (#231)
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms/document.py
Due: none

Fix concurrent room initialization (#255)
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms/document.py
  tests/test_documents.py
Due: none

Publish 2.0.9
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Fix slow room opening (#264)
  jupyter_collaboration/handlers.py
  tests/test_documents.py
Due: none

Revert PR #170 (#228)
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms/document.py
  jupyter_collaboration/utils.py
  packages/docprovider/src/utils.ts
  packages/docprovider/src/yprovider.ts
  tests/test_rooms.py
  tests/utils.py
Due: prettier, eslint

Publish 2.0.11
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

make user name hover show up faster and margin area larger (#259)
  packages/collaboration/src/cursors.ts
Due: prettier, eslint

Publish 2.0.10
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Update Release Scripts (#267)
  .github/workflows/prep-release.yml
  .github/workflows/publish-changelog.yml
  .github/workflows/publish-release.yml
Due: none

Handle last_modified only in FileLoader (#232)
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms/document.py
  tests/test_loaders.py
Due: none

Publish 2.0.1
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Update README.md (#212)
  README.md
Due: none

Call get with options of type IFetchOptions (#238)
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Fix CI (#221)
  .github/workflows/test.yml
  jupyter_collaboration/handlers.py
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  pyproject.toml
  tests/test_loaders.py
  tests/test_rooms.py
Due: prettier

Publish 2.0.4
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier
