Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "(^binder/jupyter_config\\.py$)|(^scripts/bump_version\\.py$)|(/setup\\.py$)"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

Remove log
  scripts/bump_version.py
Due: none

Require stable
  projects/jupyter-collaboration/pyproject.toml
Due: none

Fix empty collaborators list when file without icon is opened
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

Debug gh issue
  .github/workflows/license-header.yml
Due: none

Update the pre-commit action
  .github/workflows/test.yml
Due: none

Update pre-commmit action to v3.0.1
  .github/workflows/test.yml
Due: none

Fix version pins of projects in bump file (#461)
  scripts/bump_version.py
Due: none

Backport PR #461: Fix version pins in bump script
  scripts/bump_version.py
Due: none

Update the pre-commit action to v3.0.1 (#467)
  .github/workflows/test.yml
Due: none

Fix jupyterlab dependency dropped by the version bump script (#463)
  projects/jupyter-collaboration/pyproject.toml
  scripts/bump_version.py
Due: none

Fix empty collaborators list when file without icon is opened (#465)
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

Backport PR #461: Fix version pins in bump script (#468)
  scripts/bump_version.py
Due: none

Publish 4.0.1
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Publish 3.1.2
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

fix-github-links
  docs/source/conf.py
Due: none

reset-dirty-state-only-if-saved
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

fix-github-links (#471)
  docs/source/conf.py
Due: none

Reset dirty state only when the file is saved (#472)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

initial-try
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
Due: prettier, eslint

fix-cleanup-logic-and-suppress-logs
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
Due: none

Force analysis of `pycrdt_websocket` imports
  pyproject.toml
Due: none

Add `pycrdt-websocket` to mypy deps?
  .pre-commit-config.yaml
Due: none

Upgrade mypy to latest (1.14.0 required for `follow_untyped_imports`)
  .pre-commit-config.yaml
Due: none

Try without overides
  pyproject.toml
Due: none

Fix a number of typing issues
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/websocketserver.py
Due: none

More fixes
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Fix partial issue
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
Due: none

fix-cleanup-logic-and-suppress-logs (#475)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
Due: none

Remove suspected unused code
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Remove suspected unused code (#478)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Fix type of `ystore_class`
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/websocketserver.py
Due: none

Force analysis of `pycrdt_websocket` imports, fix types (#476)
  .pre-commit-config.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/websocketserver.py
Due: none

Publish 4.0.2
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

prevent-always-autosave
  packages/collaboration-extension/src/collaboration.ts
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
Due: prettier, eslint

fix-unused-import
  packages/collaboration-extension/src/collaboration.ts
Due: prettier, eslint

check_for_manual_save
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

force-autosave-by-default
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

remove-force-autosave
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

fix-type-hints
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none
