Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: \.py$

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py37-plus]

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          ["flake8-bugbear==22.6.22", "flake8-implicit-str-concat==0.2.0"]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "^binder/jupyter_config\\.py$"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

Fix pre-commit EOF error (#119)
  .pre-commit-config.yaml
Due: none

Save if the document has no provider Clean-up unneeded code
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Save if the document has no provider (#120)
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Publish 1.0.0alpha4
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
Due: prettier

Bump dependencies
  .gitignore
  .yarnrc.yml
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Bump dependencies (#123)
  .gitignore
  .yarnrc.yml
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Fix yarn on releaser
  pyproject.toml
Due: none

Fix yarn on releaser (#125)
  pyproject.toml
Due: none

Add codemirror extension
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration-extension/src/index.ts
  packages/collaboration/package.json
  packages/collaboration/src/cursors.ts
  packages/collaboration/src/index.ts
  yarn.lock
Due: prettier, eslint

Display cursors
  packages/collaboration/src/cursors.ts
Due: prettier, eslint

Display user name as hover tooltip
  packages/collaboration/src/cursors.ts
Due: prettier, eslint

Highlight selection ranges
  packages/collaboration/src/cursors.ts
Due: prettier, eslint

Support multiple cursors
  packages/collaboration/src/cursors.ts
Due: prettier, eslint

package config maintenance
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
Due: prettier

Improve config and plugin metadata
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/package.json
  yarn.lock
Due: prettier, eslint

Display remote user cursors (#122)
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration-extension/src/index.ts
  packages/collaboration/package.json
  packages/collaboration/src/cursors.ts
  packages/collaboration/src/index.ts
  yarn.lock
Due: prettier, eslint

Removes deprecated endpoints
  jupyter_collaboration/app.py
  packages/collaboration-extension/src/collaboration.ts
Due: prettier, eslint

Removes handler
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
Due: none

Removes drive name from file path
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

Updates jupyterlab in tests
  .github/workflows/test.yml
Due: none

Removes drive name from file path (#127)
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

Removes deprecated endpoints (#126)
  .github/workflows/test.yml
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  packages/collaboration-extension/src/collaboration.ts
Due: prettier, eslint

Publish 1.0.0alpha5
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Fix missing scrollbar when there are many collaborators
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/style/sidepanel.css
Due: prettier, eslint, stylelint

Fix missing scrollbar when there are many collaborators (#130)
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/style/sidepanel.css
Due: prettier, eslint, stylelint

Justify content in side panel
  packages/collaboration-extension/src/collaboration.ts
Due: prettier, eslint

Lint
  packages/collaboration-extension/src/collaboration.ts
Due: prettier, eslint

Justify content in side panel (#131)
  packages/collaboration-extension/src/collaboration.ts
Due: prettier, eslint

Publish 1.0.0alpha6
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Allow registering factories for shared models to other extensions
  packages/collaboration-extension/src/filebrowser.ts
  packages/collaboration-extension/src/index.ts
  packages/docprovider/src/index.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Lint
  packages/collaboration-extension/src/filebrowser.ts
  packages/collaboration-extension/src/index.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Update dependencies
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Allow other extensions to register shared models (#133)
  packages/collaboration-extension/src/filebrowser.ts
  packages/collaboration-extension/src/index.ts
  packages/docprovider/src/index.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Update dependencies (#134)
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Publish 1.0.0alpha7
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Bump jupyter ydoc
  binder/environment.yml
  packages/docprovider/package.json
  pyproject.toml
  yarn.lock
Due: prettier

Improve documentation
  CHANGELOG.md
  docs/source/conf.py
  docs/source/developer/contributing.rst
  typedoc.json
  yarn.lock
Due: prettier

Lint
  docs/source/conf.py
Due: none

Upgrade jupyter ydoc (#135)
  CHANGELOG.md
  binder/environment.yml
  docs/source/conf.py
  docs/source/developer/contributing.rst
  packages/docprovider/package.json
  pyproject.toml
  typedoc.json
  yarn.lock
Due: prettier

Follow up #133
  packages/collaboration-extension/src/filebrowser.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint
