Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: \.py$

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py37-plus]

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          ["flake8-bugbear==22.6.22", "flake8-implicit-str-concat==0.2.0"]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "^binder/jupyter_config\\.py$"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

Fix ignore github links
  .github/workflows/test.yml
Due: none

Fix ignore github links (#385)
  .github/workflows/test.yml
Due: none

Publish 3.0.0rc1
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Update test workflow
  .github/workflows/test.yml
Due: none

Test more Python versions
  .github/workflows/test.yml
Due: none

Update test workflow (#384)
  .github/workflows/test.yml
Due: none

Bump jupyter-ydoc v3.0.0
  packages/collaboration-extension/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Bump jupyter-ydoc v3.0.0 (#388)
  packages/collaboration-extension/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Publish 3.0.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Add `packages/collaboration` to the typedoc config
  typedoc.json
Due: prettier

Lint
  typedoc.json
Due: prettier

Add `packages/collaborative-drive` to the typedoc config (#389)
  typedoc.json
Due: prettier

Replace query parameter merge=1 with merge=true
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  tests/test_handlers.py
Due: none

Add fork title and description
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/fork.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  tests/test_handlers.py
Due: none

Add GET forks of root
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  tests/test_handlers.py
Due: none

Add fork Jupyter events
  .github/workflows/test.yml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/fork.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
  projects/jupyter-server-ydoc/pyproject.toml
  tests/test_handlers.py
Due: none

Add forking API
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  tests/test_handlers.py
Due: none

Add forking API (#394)
  .github/workflows/test.yml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/fork.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
  projects/jupyter-server-ydoc/pyproject.toml
  tests/test_handlers.py
Due: none

Update CI
  .github/workflows/test.yml
  .yarnrc.yml
  tsconfig.json
  ui-tests/package.json
  ui-tests/playwright.config.js
  ui-tests/tests/notebook.spec.ts
  ui-tests/yarn.lock
  yarn.lock
Due: prettier, eslint

Add dev install script
  .github/workflows/test.yml
  .yarnrc.yml
  docs/source/developer/contributing.rst
  package.json
  scripts/dev_install.py
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Add update snapshots workflow
  .github/workflows/test.yml
  .github/workflows/update_galata_references.yaml
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/one-client-with-two-documents-linux.png
Due: none

Pin Jupyterlab 4.2.5
  .github/workflows/test.yml
Due: none

Update snapshots
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
  ui-tests/yarn.lock
  yarn.lock
Due: none

Update CI (#396)
  .github/workflows/test.yml
  .github/workflows/update_galata_references.yaml
  docs/source/developer/contributing.rst
  package.json
  scripts/dev_install.py
  tsconfig.json
  ui-tests/package.json
  ui-tests/playwright.config.js
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/one-client-with-two-documents-linux.png
  ui-tests/tests/notebook.spec.ts
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
  ui-tests/yarn.lock
  yarn.lock
Due: prettier, eslint

Add forking API (#394)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/fork.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
  projects/jupyter-server-ydoc/pyproject.toml
  tests/test_handlers.py
Due: none

Add forking API (#394)
  .github/workflows/test.yml
Due: none

Add JS APIs
  .github/workflows/test.yml
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider-extension/src/forkManager.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider/src/__tests__/forkManager.spec.ts
  packages/docprovider/src/component.tsx
  packages/docprovider/src/forkManager.ts
  packages/docprovider/src/index.ts
  packages/docprovider/src/requests.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Fix tests
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/test_utils.py
  projects/jupyter-server-ydoc/pyproject.toml
  tests/test_documents.py
  tests/test_handlers.py
Due: none

Lint
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/test_utils.py
  tests/test_documents.py
  tests/test_handlers.py
Due: none

Types
  projects/jupyter-server-ydoc/jupyter_server_ydoc/test_utils.py
Due: none

Ignore sqlite warning
  pyproject.toml
Due: none

Fix tests (#404)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/test_utils.py
  projects/jupyter-server-ydoc/pyproject.toml
  pyproject.toml
  tests/test_documents.py
  tests/test_handlers.py
Due: none

added test that fails without PR but passes with it
  ui-tests/tests/timeline-slider.spec.ts
Due: prettier, eslint

test added for timeline
  ui-tests/tests/timeline-slider.spec.ts
Due: prettier, eslint

added ui test that passes with PR but fails without it.
  ui-tests/tests/timeline-slider.spec.ts
Due: prettier, eslint

modified test
  ui-tests/tests/timeline-slider.spec.ts
Due: prettier, eslint

fixed open path error with timeline
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint
