Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: jlpm run prettier
  language: node

eslint:
  name: eslint
  entry: jlpm run eslint
  language: node

stylelint:
  name: stylelint
  entry: jlpm run stylelint
  language: node

Add a failing test
  tests/test_documents.py
Due: none

Configurable session_store_path
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
  tests/test_session_store.py
Due: none

docs
  docs/source/configuration.md
Due: none

fixes
  docs/source/configuration.md
  tests/test_session_store.py
Due: none

Use jupyter-ydoc v4
  package.json
  packages/collaboration-extension/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Fix install
  scripts/dev_install.py
Due: none

lint
  scripts/dev_install.py
Due: none

change-log-verbosity
  projects/jupyter-server-ydoc/jupyter_server_ydoc/websocketserver.py
Due: none

Add an integration test, conflict dialog
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
  tests/test_documents.py
  ui-tests/jupyter_server_test_config.py
  ui-tests/tests/conflict.spec.ts
Due: prettier, eslint

Reduce noisy monitor logs (#588)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/websocketserver.py
Due: none

Add "save as" and "revert" buttons
  packages/docprovider-extension/src/yprovider.ts
  packages/docprovider/src/yprovider.ts
  ui-tests/tests/conflict.spec.ts
Due: prettier, eslint

Add editables to build dependencies
  scripts/dev_install.py
Due: none

Update jupyterlab versions
  .github/workflows/test.yml
  binder/environment.yml
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/pyproject.toml
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/pyproject.toml
  pyproject.toml
  scripts/dev_install.py
  ui-tests/package.json
  yarn.lock
Due: prettier

Cannot update test github workflow
  .github/workflows/test.yml
Due: none

Add resolutions
  package.json
  scripts/dev_install.py
  yarn.lock
Due: prettier

Use raw message with JSON payload instead of introducing a new message type
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
Due: prettier, eslint

Add an option to show the diff
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/conflictDiffWidget.ts
  packages/docprovider-extension/src/yprovider.ts
  packages/docprovider-extension/style/conflictDiff.css
  packages/docprovider/src/yprovider.ts
  ui-tests/conflict-diff.png
  ui-tests/tests/conflict.spec.ts
  yarn.lock
Due: prettier, eslint, stylelint

Update test and fix pre-commit issue
  tests/test_documents.py
  ui-tests/jupyter_server_test_config.py
Due: none

Workaround mypy issue
  ui-tests/jupyter_server_test_config.py
Due: none

Update wording
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Update jupyterlab versions in github workflows
  .github/workflows/test.yml
Due: none

Clean stale labextension builds in dev_install.py
  scripts/dev_install.py
Due: none

Use ^4.0.0-a3 range for @jupyter/ydoc dependency
  packages/collaboration-extension/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Add “Scroll to Collaborator Cursor” support
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/src/cursors.ts
  packages/collaboration/src/tokens.ts
  packages/collaboration/style/sidepanel.css
Due: prettier, eslint, stylelint

update lock file
  yarn.lock
Due: none

Use `on_message_error` from upstream
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Fix pre-commit/typing in tests
  tests/test_documents.py
Due: none

Update galata and refresh lockfile for ui-tests
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

Update `jupyter-ydoc` version range in `jupyter-server-ydoc`
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Use jupyter-ydoc 4.0.0b0
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Tidy up lockfile
  ui-tests/yarn.lock
Due: none

More fixes for resolutions/lockfile
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Deduplicate
  yarn.lock
Due: none

Use modern playwright
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

Update snapshots
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/one-client-with-two-documents-linux.png
  ui-tests/tests/hub-share.spec.ts-snapshots/shared-link-dialog-hub-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
  ui-tests/tests/user-menu.spec.ts-snapshots/shared-link-dialog-linux.png
Due: none

Update browser caching/use shell only
  .github/workflows/test.yml
Due: none

Bump required `pycrdt-websocket` to fix minimum deps test
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Use jupyter-ydoc v4 (#587)
  .github/workflows/test.yml
  binder/environment.yml
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/pyproject.toml
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/pyproject.toml
  projects/jupyter-server-ydoc/pyproject.toml
  pyproject.toml
  scripts/dev_install.py
  ui-tests/package.json
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/one-client-with-two-documents-linux.png
  ui-tests/tests/hub-share.spec.ts-snapshots/shared-link-dialog-hub-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
  ui-tests/tests/user-menu.spec.ts-snapshots/shared-link-dialog-linux.png
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

improve wording
  docs/source/configuration.md
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
