Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "(^binder/jupyter_config\\.py$)|(^scripts/bump_version\\.py$)|(/setup\\.py$)"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

Updates warning message on double file open (#375)
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Publish 3.0.0beta7
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Fix mypy (#358)
  .pre-commit-config.yaml
  pyproject.toml
  scripts/bump_version.py
Due: none

Fix UI tests (#277)
  ui-tests/yarn.lock
Due: none

Fix ignore github links (#385)
  .github/workflows/test.yml
Due: none

Handle generic document types in timeline (#349)
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Add missing aria label to the file browser (#355)
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Bump jupyter-ydoc v3.0.0 (#388)
  packages/collaboration-extension/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Remove the unused `ISettingRegistry` token from the file browser plugin (#356)
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Update with jupyter-ydoc v3.0.2 (#412)
  projects/jupyter-server-ydoc/pyproject.toml
  ui-tests/playwright.config.js
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/collaborationPanelCollapsed-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/three-client-with-document-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/three-client-without-document-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
Due: prettier, eslint

Split up the backend, frontend, and the docprovider (#280)
  package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration-extension/src/index.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  tests/test_documents.py
Due: prettier, eslint

Publish 3.0.0beta7
  projects/jupyter-collaboration/pyproject.toml
Due: none

Publish 3.0.0alpha0
  package.json
Due: prettier

Fix file id not available for jupyter-server (#307)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  yarn.lock
Due: none

Extract out ICollaborativeDrive to `@jupyter/collaborative-drive` (#353)
  packages/docprovider/src/tokens.ts
Due: prettier, eslint

Publish 3.0.0beta5
  projects/jupyter-collaboration/pyproject.toml
Due: none

Users item toolbar (#379)
  packages/collaboration-extension/package.json
  packages/collaboration/src/index.ts
  packages/collaboration/src/users-item.tsx
  packages/collaboration/style/base.css
  packages/collaboration/style/users-item.css
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier, eslint, stylelint

Fix Collaborator panel breaking on opening files without known extension (#427)
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

Publish 3.0.0beta6
  projects/jupyter-collaboration/pyproject.toml
Due: none

Add fork API (#410)
  packages/docprovider/src/tokens.ts
Due: prettier, eslint

Fix use of traitlets to configure YStore class (#322)
  tests/test_app.py
Due: none

Fix bump file (#343)
  projects/jupyter-collaboration/pyproject.toml
Due: none

Implementing Collaborative Timeline Slider with Undo/Redo Functionality (#338)
  yarn.lock
Due: none

Publish 3.0.0beta4
  projects/jupyter-collaboration/pyproject.toml
Due: none

Publish 3.0.0beta3
  projects/jupyter-collaboration/pyproject.toml
Due: none

Update JupyterLab 4.2.0 and fix test start store (#305)
  yarn.lock
Due: none

Initialize and update the ydoc path property (#342)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
Due: none

Move fixtures to `jupyter_server_ydoc.pytest_plugin` (#327)
  tests/test_app.py
Due: none

Use content providers to remove RTC prefix (#418)
  .github/workflows/test.yml
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/package.json
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaborative-drive/package.json
  packages/collaborative-drive/src/tokens.ts
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider-extension/src/forkManager.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider/package.json
  packages/docprovider/src/__tests__/forkManager.spec.ts
  packages/docprovider/src/forkManager.ts
  packages/docprovider/src/ydrive.ts
  pyproject.toml
  scripts/dev_install.py
  tsconfig.json
  ui-tests/tests/user-menu.spec.ts
  yarn.lock
Due: prettier, eslint

Update event schema version type (#421)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/awareness.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/fork.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/session.yaml
  pyproject.toml
  ui-tests/playwright.config.js
Due: prettier, eslint

Update CI (#396)
  ui-tests/yarn.lock
Due: none

Publish 3.0.0beta8
  projects/jupyter-collaboration/pyproject.toml
Due: none

Publish 4.0.0beta0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Pin jupyterlab at `>=4.4.0a2,<5.0.0` in `projects/jupyter-collaboration` package (#429)
  projects/jupyter-collaboration/pyproject.toml
Due: none

Publish 4.0.0alpha0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Fix Timeline Slider Visibility in Status Bar for Certain Documents (#423)
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Fix duplicate collaborator entries in collaboration panel (#422)
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

update yarn.lock
  yarn.lock
Due: none

Update checkout and upload-artifact to v4
  .github/workflows/check-release.yml
  .github/workflows/license-header.yml
  .github/workflows/test.yml
Due: none

Update checkout and upload-artifact to v4 (#441)
  .github/workflows/check-release.yml
  .github/workflows/license-header.yml
  .github/workflows/test.yml
Due: none
