Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: jlpm run prettier
  language: node

eslint:
  name: eslint
  entry: jlpm run eslint
  language: node

stylelint:
  name: stylelint
  entry: jlpm run stylelint
  language: node

Follow up #133 (#136)
  packages/collaboration-extension/src/filebrowser.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Split code in multiple files
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/stores.py
  jupyter_collaboration/utils.py
Due: none

Uses the new FileLoader
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
Due: none

Uses new rooms with file loader
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/utils.py
Due: none

Add observer pattern for notifying room
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Fixes watching files and cleaning rooms
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/stores.py
  jupyter_collaboration/utils.py
  packages/docprovider/src/ydrive.ts
  pyproject.toml
Due: prettier, eslint

Uses locks to make sure only one client initializes the room
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
Due: none

Review: save condition, load lock and iterate over subscriptions
  jupyter_collaboration/loaders.py
Due: none

Review: use Logger | None
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
Due: none

Clean up before shut down
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
Due: none

Fix file lock
  jupyter_collaboration/loaders.py
Due: none

Review: room lock private and scoped config variables
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
Due: none

Uses file_id instead of paths
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
Due: none

lint
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
Due: none

Ignore type error
  jupyter_collaboration/rooms.py
Due: none

Lint
  jupyter_collaboration/rooms.py
Due: none

Review: Freds comments
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
Due: none

Lint
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
Due: none

Warn users about opening multiple view for the same file
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Adds docstring
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/utils.py
Due: none

More docstring
  jupyter_collaboration/handlers.py
Due: none

Fixes sync between rooms
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
Due: none

Improves sync
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
Due: none

flake
  jupyter_collaboration/rooms.py
Due: none

Revert default settings changes
  jupyter_collaboration/app.py
Due: none

Creates a new FileLoader class to separate the logic of watching files (#121)
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/stores.py
  jupyter_collaboration/utils.py
  packages/docprovider/src/ydrive.ts
  pyproject.toml
Due: prettier, eslint

Updates jupyter_ydoc
  pyproject.toml
Due: none

Uses a lock for ignoring self updates
  jupyter_collaboration/rooms.py
Due: none

Fixes a formating error
  jupyter_collaboration/loaders.py
Due: none

Fix metadata (#138)
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  pyproject.toml
Due: none

Publish 1.0.0alpha8
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Register a new event schema
  jupyter_collaboration/app.py
  jupyter_collaboration/events/session.yaml
  pyproject.toml
Due: none

Fix dep versions
  pyproject.toml
Due: none

Review: wording
  jupyter_collaboration/events/session.yaml
  jupyter_collaboration/handlers.py
Due: none

Subscribe to events
  packages/collaboration-extension/src/filebrowser.ts
  packages/collaboration-extension/src/index.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Review: suggestions for log level
  jupyter_collaboration/events/session.yaml
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/utils.py
Due: none

Fixes string format
  jupyter_collaboration/events/session.yaml
  jupyter_collaboration/rooms.py
Due: none

Review: Adds log level property
  jupyter_collaboration/events/session.yaml
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
  packages/collaboration-extension/src/filebrowser.ts
Due: prettier, eslint

Emit events
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/utils.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
