Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: jlpm run prettier
  language: node

eslint:
  name: eslint
  entry: jlpm run eslint
  language: node

stylelint:
  name: stylelint
  entry: jlpm run stylelint
  language: node

fix-autosave-in-tests
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

add-tests
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  tests/test_rooms.py
Due: none

ystore-import-fix
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/stores.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/websocketserver.py
  tests/test_documents.py
  tests/test_handlers.py
Due: none

feat: add history_length and min_cleanup_interval configurables for ystore cleanup control
  projects/jupyter-server-ydoc/jupyter_server_ydoc/stores.py
Due: none

update-dependencies-to-include-pycrdt-store
  .pre-commit-config.yaml
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

follow-y-protocol
  packages/docprovider/src/ydrive.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: prettier, eslint

add-update-value
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
Due: none

Add dialog to update user info
  packages/collaboration/src/components.tsx
  packages/collaboration/src/userinfopanel.tsx
  packages/collaboration/style/sidepanel.css
Due: prettier, eslint, stylelint

Use labelled inputs for all the fields
  packages/collaboration/src/components.tsx
  packages/collaboration/style/sidepanel.css
Due: prettier, eslint, stylelint

Add test on dialog
  ui-tests/tests/collaborationpanel.spec.ts
Due: prettier, eslint

Apply PR suggestions
  packages/collaboration/src/components.tsx
  packages/collaboration/style/sidepanel.css
Due: prettier, eslint, stylelint

add-architecture
  docs/source/developer/architecture.md
  docs/source/images/architecture.svg
Due: none

refactor-code
  packages/docprovider/src/ydrive.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
Due: prettier, eslint

use-decoder
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Respect autosave setting in RTC backend (#479)
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/ydrive.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
  tests/test_rooms.py
Due: prettier, eslint

replace-svg-with-mermaid
  docs/source/conf.py
  docs/source/developer/architecture.md
  docs/source/images/architecture.svg
  pyproject.toml
Due: none

Add translation
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/package.json
  packages/collaboration/src/userinfopanel.tsx
  yarn.lock
Due: prettier, eslint

Rename the translation variable to __trans
  packages/collaboration/src/userinfopanel.tsx
Due: prettier, eslint

Rename the property name 'translator' to 'trans'
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/src/userinfopanel.tsx
Due: prettier, eslint

Add dialog to update user info (#482)
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/package.json
  packages/collaboration/src/components.tsx
  packages/collaboration/src/userinfopanel.tsx
  packages/collaboration/style/sidepanel.css
  ui-tests/tests/collaborationpanel.spec.ts
  yarn.lock
Due: prettier, eslint, stylelint

Add Current Implementation section to docs (#484)
  docs/source/conf.py
  docs/source/developer/architecture.md
  pyproject.toml
Due: none

Publish 4.1.0alpha0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Publish 4.1.0beta0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Fix css class names, formatting and parsing issue
  packages/collaboration/src/sharedlink.ts
  packages/collaboration/style/sharedlink.css
Due: prettier, eslint, stylelint

Applying linter suggestions
  packages/collaboration/src/sharedlink.ts
Due: prettier, eslint

Displaying 'Group (name)' instead of '(name)' in search results for groups
  packages/collaboration/src/sharedlink.ts
Due: prettier, eslint

Add typing, rename `_users` to `_recipients`, add `_` to privates,
  packages/collaboration/src/sharedlink.ts
Due: prettier, eslint

Do not use raw HTML for insertion of unsanitized code (XSS)
  packages/collaboration/src/sharedlink.ts
Due: prettier, eslint

Add a test
  ui-tests/tests/hub-share.spec.ts
Due: prettier, eslint

Add snapshot
  ui-tests/tests/hub-share.spec.ts
  ui-tests/tests/hub-share.spec.ts-snapshots/shared-link-dialog-hub-linux.png
Due: prettier, eslint

Add a UI to let users share their servers to other users and groups (#438)
  packages/collaboration/src/sharedlink.ts
  packages/collaboration/style/base.css
  packages/collaboration/style/sharedlink.css
  ui-tests/tests/hub-share.spec.ts
  ui-tests/tests/hub-share.spec.ts-snapshots/shared-link-dialog-hub-linux.png
Due: prettier, eslint, stylelint

Publish 4.1.0rc0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Fix translation loading in share link dialog
  packages/collaboration/src/sharedlink.ts
Due: prettier, eslint

add-create-argument
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  tests/test_app.py
Due: none

fix-mypy-error
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
Due: none

Fix confirmation on manual saving
  packages/docprovider/src/ydrive.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
