Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: \.py$

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py37-plus]

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          ["flake8-bugbear==22.6.22", "flake8-implicit-str-concat==0.2.0"]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "^binder/jupyter_config\\.py$"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

Remove pip --pre
  .github/workflows/test.yml
Due: none

Fix CI (#221)
  .github/workflows/test.yml
  jupyter_collaboration/handlers.py
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  pyproject.toml
  tests/test_loaders.py
  tests/test_rooms.py
Due: prettier

Use pycrdt-websocket instead of ypy-websocket
  docs/source/configuration.md
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/stores.py
  jupyter_collaboration/websocketserver.py
  pyproject.toml
  tests/conftest.py
  tests/test_handlers.py
  tests/utils.py
Due: none

Use pycrdt-websocket instead of ypy-websocket (#220)
  docs/source/configuration.md
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/stores.py
  jupyter_collaboration/websocketserver.py
  pyproject.toml
  tests/conftest.py
  tests/test_handlers.py
  tests/utils.py
Due: none

Publish 2.0.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Fix CI (#221)
  .github/workflows/test.yml
  jupyter_collaboration/handlers.py
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  pyproject.toml
  tests/test_loaders.py
Due: prettier

Missing hub command
  .github/workflows/license-header.yml
Due: none

Issue while cherry picking
  .github/workflows/test.yml
Due: none

Fix
  tests/test_loaders.py
Due: none

Switch to gh
  .github/workflows/license-header.yml
Due: none

Fix pip install cmd
  .github/workflows/test.yml
Due: none

Fix CI (Backport #221 into 1.x) (#224)
  .github/workflows/license-header.yml
  .github/workflows/test.yml
  jupyter_collaboration/handlers.py
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  pyproject.toml
  tests/test_loaders.py
Due: prettier

Fix for last_modified being None
  jupyter_collaboration/rooms.py
Due: none

Fix for last_modified being None (#223)
  jupyter_collaboration/rooms.py
Due: none

Publish 1.2.1
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Revert PR #170
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/utils.py
  packages/docprovider/src/utils.ts
  packages/docprovider/src/yprovider.ts
  tests/test_rooms.py
  tests/utils.py
Due: prettier, eslint

Revert PR #170 (#228)
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/utils.py
  packages/docprovider/src/utils.ts
  packages/docprovider/src/yprovider.ts
  tests/test_rooms.py
  tests/utils.py
Due: prettier, eslint

Publish 2.0.1
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Fix file saving
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
Due: none

Fix file saving (#231)
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
Due: none

Handle last_modified only in FileLoader
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  tests/test_loaders.py
Due: none

Handle last_modified only in FileLoader (#232)
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  tests/test_loaders.py
Due: none

Add a new 'chat' package and a plugin to activate an ampty side panel
  packages/chat/README.md
  packages/chat/package.json
  packages/chat/src/chatpanel.ts
  packages/chat/src/index.ts
  packages/chat/src/tokens.ts
  packages/chat/style/base.css
  packages/chat/style/index.css
  packages/chat/style/index.js
  packages/chat/tsconfig.json
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/chat.ts
  packages/collaboration-extension/src/index.ts
  yarn.lock
Due: prettier, eslint, stylelint

Add an icon for the chat panel
  packages/chat/src/chatpanel.ts
  packages/chat/src/svg.d.ts
  packages/chat/style/base.css
  packages/chat/style/icons/chat.svg
  packages/collaboration-extension/src/chat.ts
Due: prettier, eslint, stylelint

Insert the message at the correct position
  packages/chat/src/chatpanel.ts
Due: prettier, eslint

Integrates chat backend
  packages/chat/package.json
  packages/chat/src/chatpanel.ts
  packages/collaboration-extension/src/chat.ts
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration-extension/src/index.ts
  packages/docprovider/src/tokens.ts
  yarn.lock
Due: prettier, eslint

Add the panel content, the messages and the prompt
  packages/chat/src/chatpanel.ts
  packages/chat/style/base.css
  packages/collaboration-extension/src/chat.ts
  packages/collaboration-extension/style/index.js
Due: prettier, eslint, stylelint

Improves chat API
  jupyter_collaboration/handlers.py
  packages/chat/package.json
  packages/chat/src/chatpanel.ts
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/tokens.ts
  yarn.lock
Due: prettier, eslint

pre-commit
  packages/chat/style/base.css
  packages/collaboration-extension/style/index.js
Due: prettier, eslint, stylelint

Fixes sending long messages
  jupyter_collaboration/handlers.py
  packages/collaboration-extension/src/collaboration.ts
  packages/docprovider/src/awareness.ts
Due: prettier, eslint

Fix chat repository url
  packages/chat/package.json
Due: prettier

Publish 2.0.2
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Call get with options of type IFetchOptions
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Call get with options of type IFetchOptions (#238)
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Fix cancellation of file save operation
  jupyter_collaboration/rooms.py
Due: none

Add comment about _maybe_save_document's cancellation
  jupyter_collaboration/rooms.py
Due: none

Fix cancellation of file save operation (#241)
  jupyter_collaboration/rooms.py
Due: none

Publish 2.0.3
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

prefer if/else over if/if not
  jupyter_collaboration/rooms.py
Due: none

refactor DocumentRoom to not rely on asyncio locks
  jupyter_collaboration/rooms.py
Due: none
