Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: jlpm run prettier
  language: node

eslint:
  name: eslint
  entry: jlpm run eslint
  language: node

stylelint:
  name: stylelint
  entry: jlpm run stylelint
  language: node

Support ypy-websocket v0.12
  binder/environment.yml
  jupyter_collaboration/handlers.py
  jupyter_collaboration/websocketserver.py
  pyproject.toml
Due: none

Add type
  jupyter_collaboration/handlers.py
Due: none

ypy-websocket >=0.12.1
  pyproject.toml
Due: none

Chat subprotocol (#167)
  jupyter_collaboration/handlers.py
  jupyter_collaboration/utils.py
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/package.json
  packages/collaboration/src/tokens.ts
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/index.ts
  packages/docprovider/src/tokens.ts
  yarn.lock
Due: prettier, eslint

Remove link share mention
  docs/source/index.md
Due: none

Remove link share mention (#169)
  docs/source/index.md
Due: none

Support ypy-websocket v0.12 (#168)
  binder/environment.yml
  jupyter_collaboration/handlers.py
  jupyter_collaboration/websocketserver.py
  pyproject.toml
Due: none

Skip the broken test for now
  ui-tests/tests/notebook.spec.ts
Due: prettier, eslint

Skip flaky ten client tests for now
  ui-tests/tests/notebook.spec.ts
Due: prettier, eslint

Publish 1.0.1
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Remove print
  jupyter_collaboration/handlers.py
Due: none

Follow up
  jupyter_collaboration/handlers.py
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/tokens.ts
Due: prettier, eslint

Update jupyter_ydoc
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/src/tokens.ts
  packages/docprovider/package.json
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/tokens.ts
  pyproject.toml
  yarn.lock
Due: prettier, eslint

Use fileId instead as path when storing the updates
  jupyter_collaboration/handlers.py
Due: none

Fix package name of integration tests
  ui-tests/package.json
Due: prettier

Update yarn.lock
  ui-tests/yarn.lock
Due: none

Fix package name of integration tests (#176)
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

Improves chat (#173)
  jupyter_collaboration/handlers.py
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/src/tokens.ts
  packages/docprovider/package.json
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/tokens.ts
  pyproject.toml
  yarn.lock
Due: prettier, eslint

Updates file name in the store
  jupyter_collaboration/handlers.py
Due: none

Run pre-commit
  jupyter_collaboration/handlers.py
Due: none

Use fileId instead of path in the store (#174)
  jupyter_collaboration/handlers.py
Due: none

Adds a flag to disable RTC
  jupyter_collaboration/app.py
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Temporarily fix for tests
  pyproject.toml
Due: none

Adds a flag to disable RTC (#177)
  jupyter_collaboration/app.py
  packages/docprovider/src/ydrive.ts
  pyproject.toml
Due: prettier, eslint

Handle restore and ovewrite messages
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/utils.py
Due: none

Creates a dialog to answer messages
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/utils.py
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/utils.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Pre-commit
  jupyter_collaboration/rooms.py
Due: none

Revert document_cleanup_delay
  jupyter_collaboration/app.py
Due: none

Adds restore and ovewrite messages (#170)
  jupyter_collaboration/handlers.py
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  jupyter_collaboration/utils.py
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/utils.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Review
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Improves error handling when the file does not exist
  jupyter_collaboration/handlers.py
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Adds a flag to disable RTC (#177) (#178)
  jupyter_collaboration/app.py
  packages/docprovider/src/ydrive.ts
  pyproject.toml
Due: prettier, eslint

Publish 1.1.0alpha0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Update jupyter_collaboration/rooms.py
  jupyter_collaboration/rooms.py
Due: none

Improves error handling when the file does not exist (#175)
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Adds tests for rooms
  tests/test_loaders.py
  tests/test_rooms.py
  tests/utils.py
Due: none

run pre-commit
  tests/utils.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
