Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "(^binder/jupyter_config\\.py$)|(^scripts/bump_version\\.py$)|(/setup\\.py$)"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

Require Python 3.10, update classifiers (#572)
  projects/jupyter-collaboration-ui/pyproject.toml
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/pyproject.toml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/__init__.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/websocketserver.py
  projects/jupyter-server-ydoc/pyproject.toml
  pyproject.toml
  scripts/dev_install.py
  tests/test_documents.py
Due: none

Rename check release upload artifact (#575)
  .github/workflows/check-release.yml
Due: none

Remove user property as per review suggestion
  packages/docprovider-extension/src/yprovider.ts
Due: prettier, eslint

Linter
  packages/docprovider-extension/src/yprovider.ts
Due: prettier, eslint

make RtcContentProvider backwards compatible
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

restore previous settings logic for backwards compatibility
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Update to the newer `check-jsonschema` pre-commit hook
  .pre-commit-config.yaml
Due: none

Depend on `IDocumentManager` instead of fetching settings directly (#574)
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/package.json
  packages/docprovider/src/ydrive.ts
  yarn.lock
Due: prettier, eslint

Update to the newer `check-jsonschema` pre-commit hook (#579)
  .pre-commit-config.yaml
Due: none

fix yarn.lock
  yarn.lock
Due: none

Update to TypeScript 5.9 (#576)
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/package.json
  yarn.lock
Due: prettier, eslint

Revert WebSocketProvider and WebSocketAwarenessProvider move
  packages/docprovider-extension/src/yprovider.ts
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/index.ts
  packages/docprovider/src/yprovider.ts
Due: prettier, eslint

Fix yarn.lock after rebase
  yarn.lock
Due: none

Fix wrong imports after rebase
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Fix test location
  packages/docprovider/src/__tests__/yprovider.spec.ts
Due: prettier, eslint

Fix mock
  packages/docprovider/src/__tests__/yprovider.spec.ts
Due: prettier, eslint

Remove test related things from docprovider-extension
  packages/docprovider-extension/jest.config.js
  packages/docprovider-extension/package.json
  packages/docprovider-extension/tsconfig.test.json
  yarn.lock
Due: prettier, eslint

Move back in docprovider the last interface
  packages/docprovider-extension/src/yprovider.ts
  packages/docprovider/src/awareness.ts
Due: prettier, eslint

Bring harmony to the factories
  packages/collaboration-extension/src/collaboration.ts
  packages/docprovider-extension/src/yprovider.ts
  packages/docprovider/src/tokens.ts
Due: prettier, eslint

Update packages/docprovider-extension/src/yprovider.ts
  packages/docprovider-extension/src/yprovider.ts
Due: prettier, eslint

Make document provider pluggable (#558)
  package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/src/components.tsx
  packages/collaboration/src/cursors.ts
  packages/collaboration/src/menu.ts
  packages/docprovider-extension/babel.config.js
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider-extension/src/yprovider.ts
  packages/docprovider/src/__tests__/yprovider.spec.ts
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier, eslint

Update projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
Due: none

Fix lint
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
Due: none

Test using stable versions
  .github/workflows/test.yml
Due: none

Update snapshots back to based on stable version of Lab
  ui-tests/tests/hub-share.spec.ts-snapshots/shared-link-dialog-hub-linux.png
  ui-tests/tests/user-menu.spec.ts-snapshots/shared-link-dialog-linux.png
Due: none

Test using stable versions (#580)
  .github/workflows/test.yml
  ui-tests/tests/hub-share.spec.ts-snapshots/shared-link-dialog-hub-linux.png
  ui-tests/tests/user-menu.spec.ts-snapshots/shared-link-dialog-linux.png
Due: none

Align JupyterLab version in one more place
  .github/workflows/test.yml
Due: none

Align JupyterLab version in one more place (#581)
  .github/workflows/test.yml
Due: none

Add `create: bool` argument to `get_document()` API (#569)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  tests/test_app.py
Due: none

Improve test name
  tests/test_documents.py
Due: none

Move to a method, add more context in doc
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Fix content duplication when document room goes away (#571)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  tests/test_documents.py
Due: none

Publish 4.4.0alpha0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Side Panel: Respect avatar_url
  packages/collaboration/src/components.tsx
  packages/collaboration/style/sidepanel.css
Due: prettier, eslint, stylelint

Fallback to showing initials when the image fails to load
  packages/collaboration/src/components.tsx
  packages/collaboration/src/menu.ts
Due: prettier, eslint

Remove debug log
  packages/collaboration/src/menu.ts
Due: prettier, eslint

Side Panel: respect `avatar_url` (#582)
  packages/collaboration/src/components.tsx
  packages/collaboration/src/menu.ts
  packages/collaboration/style/sidepanel.css
Due: prettier, eslint, stylelint

Publish 4.4.0beta0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Publish 4.4.0rc0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Publish 4.4.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier
