Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: jlpm run prettier
  language: node

eslint:
  name: eslint
  entry: jlpm run eslint
  language: node

stylelint:
  name: stylelint
  entry: jlpm run stylelint
  language: node

Test if the transcient room is the global awareness to observe it
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

typing
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Update contributing.rst
  docs/source/developer/contributing.rst
Due: none

Updates warning message, refactors
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Removes newlines, which are ignored
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Update jupyter_ydoc and pycrdt_websocket dependencies (#367)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Clarifies two separate views
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Backport 'Update jupyter_ydoc and pycrdt_websocket dependencies' #367
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Backport 'Update jupyter_ydoc and pycrdt_websocket dependencies' #367 (#376)
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
  pyproject.toml
Due: none

Publish 2.1.4
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Fix dependencies
  projects/jupyter-collaboration/pyproject.toml
Due: none

lint
  scripts/bump_version.py
Due: none

fix bump file
  scripts/bump_version.py
Due: none

Backport PR #342 to 2.x branch
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  tests/test_rooms.py
  tests/utils.py
Due: none

linting
  jupyter_collaboration/rooms.py
Due: none

update snapshots
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-host-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
Due: none

Temporary skip check-python from releaser checks
  pyproject.toml
Due: none

Fix bump file (#343)
  projects/jupyter-collaboration/pyproject.toml
  pyproject.toml
  scripts/bump_version.py
Due: none

Update packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Updates warning message on double file open (#375)
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Publish 3.0.0rc0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Support @jupyter/ydoc 2.x
  packages/docprovider/package.json
Due: prettier

Fix yarn.lock
  yarn.lock
Due: none

Fix @jupyter/ydoc range in collaboration-extension
  packages/collaboration-extension/package.json
  yarn.lock
Due: prettier

Ignore new resource warning from anyio
  pyproject.toml
Due: none

Fix pattern to ignore from anyio
  pyproject.toml
Due: none

Provide a widget that can be used in a collaborative document to display current users
  packages/collaboration-extension/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  packages/docprovider/src/index.ts
  packages/docprovider/src/users-item.tsx
  yarn.lock
Due: prettier, eslint

Check if 'user' is defined in the state (server awareness can have no user defined)
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

Allow the user to not be defined in the awareness state
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/src/tokens.ts
Due: prettier, eslint

Move the widget to collaboration package
  packages/collaboration/src/index.ts
  packages/collaboration/src/users-item.tsx
  packages/docprovider/src/index.ts
Due: prettier, eslint

Update contributing.rst (#373)
  docs/source/developer/contributing.rst
Due: none

[2.x] Support @jupyter/ydoc 2.x (#316)
  packages/collaboration-extension/package.json
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/src/tokens.ts
  packages/docprovider/package.json
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-host-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
  yarn.lock
Due: prettier, eslint

Add style and allow empty model (for notebook panel for example)
  packages/collaboration/src/users-item.tsx
  packages/collaboration/style/base.css
  packages/collaboration/style/users-item.css
Due: prettier, eslint, stylelint

Update jupyter_collaboration/loaders.py
  jupyter_collaboration/loaders.py
Due: none

Backport 'Initialize and update the ydoc path property' #342 (#357)
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  tests/test_rooms.py
  tests/utils.py
Due: none

Publish 2.1.5
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Update typing of collaborator
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

Update typing of collaborator (#383)
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
