Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: jlpm run prettier
  language: node

eslint:
  name: eslint
  entry: jlpm run eslint
  language: node

stylelint:
  name: stylelint
  entry: jlpm run stylelint
  language: node

Add timeline slider test
  ui-tests/tests/timeline-slider.spec.ts
Due: prettier, eslint

Fix open path error with timeline feature (#401)
  packages/docprovider-extension/src/filebrowser.ts
  ui-tests/tests/timeline-slider.spec.ts
Due: prettier, eslint

ui test for baseurl issue
  ui-tests/jupyter_server_test_config_timeline.py
  ui-tests/playwright.timeline.config.js
Due: prettier, eslint

ui test config done.
  ui-tests/jupyter_server_test_config_timeline.py
  ui-tests/playwright.timeline.config.js
  ui-tests/tests/timeline-slider.spec.ts
Due: prettier, eslint

modified filename extraction method.
  packages/docprovider/src/component.tsx
Due: prettier, eslint

ui test for baseurl
  .github/workflows/test.yml
Due: none

ui test timeline
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/TimelineSlider.tsx
  packages/docprovider/src/component.tsx
  ui-tests/jupyter_server_test_config_timeline.py
  ui-tests/package.json
  ui-tests/playwright.timeline.config.js
  ui-tests/tests/timeline-slider.spec.ts
Due: prettier, eslint

pre-commit
  packages/docprovider/src/TimelineSlider.tsx
  ui-tests/jupyter_server_test_config_timeline.py
  ui-tests/playwright.timeline.config.js
  ui-tests/tests/timeline-slider.spec.ts
Due: prettier, eslint

test info
  ui-tests/tests/timeline-slider.spec.ts
Due: prettier, eslint

fixed error with base url
  packages/docprovider/src/component.tsx
Due: prettier, eslint

modified script for ui tests
  ui-tests/jupyter_server_test_config_timeline.py
  ui-tests/package.json
Due: prettier

removed unused cnd
  ui-tests/tests/timeline-slider.spec.ts
Due: prettier, eslint

Test on main
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/TimelineSlider.tsx
  packages/docprovider/src/component.tsx
Due: prettier, eslint

clarify condition
  ui-tests/tests/timeline-slider.spec.ts
Due: prettier, eslint

Fix timeline feature error when base url is set (#402)
  .github/workflows/test.yml
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/TimelineSlider.tsx
  packages/docprovider/src/component.tsx
  ui-tests/package.json
  ui-tests/playwright.timeline.config.js
  ui-tests/tests/timeline-slider.spec.ts
Due: prettier, eslint

Publish 3.0.1
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Add forking API (#394)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/fork.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
  projects/jupyter-server-ydoc/pyproject.toml
  tests/test_handlers.py
Due: none

Add js api (#395)
  packages/docprovider-extension/src/forkManager.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider/src/__tests__/forkManager.spec.ts
  packages/docprovider/src/component.tsx
  packages/docprovider/src/forkManager.ts
  packages/docprovider/src/index.ts
  packages/docprovider/src/requests.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
Due: prettier, eslint

Fix test_fork_handler
  tests/test_handlers.py
Due: none

again
  tests/test_handlers.py
Due: none

Allow time for update to propagate
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  tests/test_handlers.py
Due: none

Add fork API (#410)
  packages/docprovider-extension/src/forkManager.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider/src/__tests__/forkManager.spec.ts
  packages/docprovider/src/component.tsx
  packages/docprovider/src/forkManager.ts
  packages/docprovider/src/index.ts
  packages/docprovider/src/requests.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/ydrive.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/fork.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
  projects/jupyter-server-ydoc/pyproject.toml
  tests/test_handlers.py
Due: prettier, eslint

Publish 3.1.0alpha0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Provide a widget that can be used in a collaborative document to display current users
  packages/collaboration-extension/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  packages/docprovider/src/index.ts
  packages/docprovider/src/users-item.tsx
  yarn.lock
Due: prettier, eslint

Move the widget to collaboration package
  packages/collaboration/src/index.ts
  packages/collaboration/src/users-item.tsx
  packages/docprovider/src/index.ts
Due: prettier, eslint

Improve the default icon renderer
  packages/collaboration/src/users-item.tsx
Due: prettier, eslint

lint
  packages/collaboration/style/users-item.css
Due: prettier, stylelint

Add style and allow empty model (for notebook panel for example)
  packages/collaboration/src/users-item.tsx
  packages/collaboration/style/base.css
  packages/collaboration/style/users-item.css
Due: prettier, eslint, stylelint

Send the document model to the iconRenderer, and avoid displaying cursor on Anonymous icons
  packages/collaboration/src/users-item.tsx
  packages/collaboration/style/users-item.css
Due: prettier, eslint, stylelint

CSS
  packages/collaboration/style/users-item.css
Due: prettier, stylelint

Stricter test
  ui-tests/playwright.config.js
Due: prettier, eslint

Exclude jupyter-ydoc v3.0.0 and v3.0.1
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Update with jupyter-ydoc v3.0.2 (#412)
  projects/jupyter-server-ydoc/pyproject.toml
  ui-tests/playwright.config.js
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/collaborationPanelCollapsed-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/three-client-with-document-linux.png
  ui-tests/tests/collaborationpanel.spec.ts-snapshots/three-client-without-document-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
Due: prettier, eslint

Publish 3.1.0beta0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Fix renaming file
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Fix renaming file (#413)
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
