Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: jlpm run prettier
  language: node

eslint:
  name: eslint
  entry: jlpm run eslint
  language: node

stylelint:
  name: stylelint
  entry: jlpm run stylelint
  language: node

Backport PR #441: Update github actions to v4
  .github/workflows/check-release.yml
  .github/workflows/license-header.yml
  .github/workflows/test.yml
Due: none

Backport PR #441: Update github actions to v4 (#442)
  .github/workflows/check-release.yml
  .github/workflows/license-header.yml
  .github/workflows/test.yml
Due: none

Backport PR #421: Update event schema version type
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/awareness.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/fork.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/session.yaml
  pyproject.toml
  ui-tests/playwright.config.js
Due: prettier, eslint

Bump jupyter_server and remove filtered warning
  projects/jupyter-server-ydoc/pyproject.toml
  pyproject.toml
Due: none

Bump jupyter_server to >=2.15.0<3.0.0
  projects/jupyter-server-ydoc/pyproject.toml
  pyproject.toml
Due: none

Bump jupyter_server and remove filtered warning (#444)
  projects/jupyter-server-ydoc/pyproject.toml
  pyproject.toml
Due: none

Backport PR #421 on branch 3.x (Update event schema version type) (#443)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/awareness.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/fork.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/session.yaml
  projects/jupyter-server-ydoc/pyproject.toml
  ui-tests/playwright.config.js
Due: prettier, eslint

Backport PR #379: Users item toolbar
  packages/collaboration-extension/package.json
  packages/collaboration/src/index.ts
  packages/collaboration/src/users-item.tsx
  packages/collaboration/style/base.css
  packages/collaboration/style/users-item.css
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier, eslint, stylelint

Backport PR #379: Users item toolbar (#440)
  packages/collaboration-extension/package.json
  packages/collaboration/src/index.ts
  packages/collaboration/src/users-item.tsx
  packages/collaboration/style/base.css
  packages/collaboration/style/users-item.css
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier, eslint, stylelint

Pin jupyterlab at `>=4.3.0b2,<4.4.0a2` in `projects/jupyter-collaboration` package
  projects/jupyter-collaboration/pyproject.toml
Due: none

exclude pre-release versions from the pin
  projects/jupyter-collaboration/pyproject.toml
Due: none

Add jupyterlab version pin
  pyproject.toml
Due: none

Add test for the saving of files with dos line endings bug
  ui-tests/tests/file.spec.ts
Due: prettier, eslint

Update UI test README to specify jlpm run test over playwright test
  ui-tests/README.md
  ui-tests/tests/file.spec.ts
Due: prettier, eslint

Backport PR #427: Fix collaborators panel breaking on opening files without known extension
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

Fix GET users list with pagination
  packages/collaboration/src/sharedlink.ts
Due: prettier, eslint

Fix serverName and serverOwner values
  packages/collaboration/src/sharedlink.ts
Due: prettier, eslint

Fix getOption() position and Hub detection
  packages/collaboration/src/sharedlink.ts
Due: prettier, eslint

Bump min required `jupyter_events` version to 0.11
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Bump min required `jupyter_events` version to 0.11 (#453)
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Backport PR #453: Bump min required `jupyter_events` version to 0.11
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Backport PR #453: Bump min required `jupyter_events` version to 0.11 (#454)
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Backport PR #427: Fix collaborators panel breaking on opening files without known extension (#451)
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

Handle the error raised when closing a collaborative document
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

skip-saving-unwritable-files
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
Due: none

Bump jupyterlab v4.4.0
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  pyproject.toml
  scripts/dev_install.py
  yarn.lock
Due: prettier

Bump lumino packages
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Bump to jupyterlab v4.4.0 (#458)
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  pyproject.toml
  scripts/dev_install.py
  yarn.lock
Due: prettier

Publish 4.0.0rc0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

fix-test
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  tests/test_rooms.py
Due: none

pre-commit fix
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  tests/test_rooms.py
Due: none

Update projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
Due: none

Skip saving non-writable files (#457)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/pytest_plugin.py
  tests/test_rooms.py
Due: none

Publish 4.0.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Fix jupyter-collaboration pinnings
  projects/jupyter-collaboration/pyproject.toml
Due: none

Fix jupyter-collaboration pinnings (#459)
  projects/jupyter-collaboration/pyproject.toml
Due: none

Publish 3.1.1
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Fix version pins of projects in bump file
  scripts/bump_version.py
Due: none

Preserve other dependencies
  scripts/bump_version.py
Due: none

Restore jupyterlab dependency
  projects/jupyter-collaboration/pyproject.toml
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
