Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: jlpm run prettier
  language: node

eslint:
  name: eslint
  entry: jlpm run eslint
  language: node

stylelint:
  name: stylelint
  entry: jlpm run stylelint
  language: node

Backport 'Fix ignoring AnyIO warnings in tests' #359
  pyproject.toml
Due: none

linting
  tests/test_rooms.py
Due: none

Update the path only instead of loading the document
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

linting and typing
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
Due: none

Remove the test on path until package versions are fixed
  tests/test_rooms.py
Due: none

Add test
  projects/jupyter-server-ydoc/jupyter_server_ydoc/test_utils.py
  tests/test_rooms.py
Due: none

Initialize and update the ydoc path's property when it change
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Backport 'Fix ignoring AnyIO warnings in tests' #359 (#362)
  pyproject.toml
Due: none

Backport PR #342 to 2.x branch
  jupyter_collaboration/loaders.py
  jupyter_collaboration/rooms.py
  tests/test_rooms.py
  tests/utils.py
Due: none

linting
  jupyter_collaboration/rooms.py
Due: none

Initialize and update the ydoc path property (#342)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/test_utils.py
  tests/test_rooms.py
Due: none

update snapshots
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-create-notebook-host-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
Due: none

Support suggestions
  packages/collaboration-extension/src/collaboration.ts
  packages/collaboration-extension/src/index.ts
  packages/docprovider/src/requests.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: prettier, eslint

-
  package.json
  packages/docprovider/src/requests.ts
  packages/docprovider/src/yprovider.ts
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  yarn.lock
Due: prettier, eslint

Provide the YDrive as the default drive
  .gitignore
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider-extension/tsconfig.json
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  yarn.lock
Due: prettier, eslint

Fixes
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Extract out ICollaborativeDrive to @jupyter/collaborativedrive
  .github/workflows/test.yml
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaborativedrive/package.json
  packages/collaborativedrive/src/index.ts
  packages/collaborativedrive/src/tokens.ts
  packages/collaborativedrive/tsconfig.json
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  yarn.lock
Due: prettier, eslint

Rename @jupyter/collaborativedrive to @jupyter/collaborative-drive
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaborativedrive/package.json
  packages/collaborativedrive/src/index.ts
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/package.json
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  yarn.lock
Due: prettier, eslint

Remove jlpm build
  .github/workflows/test.yml
Due: none

Move packages/collaborativedrive -> packages/collaborative-drive
  packages/collaborative-drive/package.json
  packages/collaborative-drive/src/index.ts
  packages/collaborative-drive/src/tokens.ts
  packages/collaborative-drive/tsconfig.json
  yarn.lock
Due: prettier, eslint

Add back jlpm build
  .github/workflows/test.yml
Due: none

Update jupyter_ydoc and pycrdt_websocket dependencies (and indirectly pycrdt)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

Fix model format
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Backport 'Fix model format' #368
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

linting
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Remove useless enumerate
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Update the connected users on global awareness changes
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

-
  .github/workflows/test.yml
  yarn.lock
Due: none

update yarn.lock
  yarn.lock
Due: none

Update collaborative-drive dependencies
  packages/collaborative-drive/package.json
  yarn.lock
Due: prettier

Add collaborative-drive as shared package
  packages/docprovider/package.json
Due: prettier

-
  packages/collaboration-extension/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

-
  .github/workflows/test.yml
  packages/collaboration-extension/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Extract out ICollaborativeDrive to `@jupyter/collaborative-drive` (#353)
  .github/workflows/test.yml
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/collaboration.ts
  packages/collaborative-drive/package.json
  packages/collaborative-drive/src/index.ts
  packages/collaborative-drive/src/tokens.ts
  packages/collaborative-drive/tsconfig.json
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/ydrive.ts
  packages/docprovider/src/yprovider.ts
  yarn.lock
Due: prettier, eslint

Publish 3.0.0beta7
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Publish 3.0.0beta8
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Fix model format (#368)
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Backport 'Fix model format' #368 (#369)
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Publish 2.1.3
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Apply suggestions from code review
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
