Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: jlpm run prettier
  language: node

eslint:
  name: eslint
  entry: jlpm run eslint
  language: node

stylelint:
  name: stylelint
  entry: jlpm run stylelint
  language: node

Publish 3.1.0rc0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Provide a widget that can be used in a collaborative document to display current users
  packages/collaboration-extension/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  packages/docprovider/src/index.ts
  packages/docprovider/src/users-item.tsx
  yarn.lock
Due: prettier, eslint

Move the widget to collaboration package
  packages/collaboration/src/index.ts
  packages/collaboration/src/users-item.tsx
  packages/docprovider/src/index.ts
Due: prettier, eslint

Add style and allow empty model (for notebook panel for example)
  packages/collaboration/src/users-item.tsx
  packages/collaboration/style/base.css
  packages/collaboration/style/users-item.css
Due: prettier, eslint, stylelint

CSS
  packages/collaboration/style/users-item.css
Due: prettier, stylelint

Improve the default icon renderer
  packages/collaboration/src/users-item.tsx
Due: prettier, eslint

Send the document model to the iconRenderer, and avoid displaying cursor on Anonymous icons
  packages/collaboration/src/users-item.tsx
  packages/collaboration/style/users-item.css
Due: prettier, eslint, stylelint

lint
  packages/collaboration/style/users-item.css
Due: prettier, stylelint

Publish 3.1.0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Users item toolbar (#379)
  packages/collaboration-extension/package.json
  packages/collaboration/src/index.ts
  packages/collaboration/src/users-item.tsx
  packages/collaboration/style/base.css
  packages/collaboration/style/users-item.css
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier, eslint, stylelint

Use content providers (v2)
  packages/collaborative-drive/src/tokens.ts
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider-extension/src/forkManager.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider/src/forkManager.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Reduce the diff
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Rewrite logic which used to rely on RTC prefix, cleanup
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Gracefully handling non-existing fork room
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Update event schema version type
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/awareness.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/fork.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/session.yaml
  pyproject.toml
Due: none

Handle RoomNotFound error on fork creation
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Missing return
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Apply suggestions from code review
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Gracefully handling non-existing fork room (#420)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Tweak maxDiffPixelRatio
  ui-tests/playwright.config.js
Due: prettier, eslint

Set maxDiffPixelRatio to 0.001
  ui-tests/playwright.config.js
Due: prettier, eslint

Set maxDiffPixelRatio to 0.01
  ui-tests/playwright.config.js
Due: prettier, eslint

Update event schema version type (#421)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/awareness.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/fork.yaml
  projects/jupyter-server-ydoc/jupyter_server_ydoc/events/session.yaml
  pyproject.toml
  ui-tests/playwright.config.js
Due: prettier, eslint

fix
  packages/collaboration/src/collaboratorspanel.tsx
Due: prettier, eslint

Update to JupyterLab v4.4.0a2
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  tsconfig.json
  yarn.lock
Due: prettier

Align TypeScript version with JupyterLab, re-enable lib check
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  tsconfig.json
  yarn.lock
Due: prettier

Fix TypeScript tests
  packages/docprovider/src/__tests__/forkManager.spec.ts
Due: prettier, eslint

Bump JupyterLab version used in CI tests
  .github/workflows/test.yml
Due: none

Bump JupyterLab installed with `dev_install`
  scripts/dev_install.py
Due: none

Fix "Test Minimum Versions" job
  pyproject.toml
Due: none

Run UI tests on 4.4.0a2 or newer
  .github/workflows/test.yml
Due: none

Expect the copied link to not have `RTC:` prefix
  ui-tests/tests/user-menu.spec.ts
Due: prettier, eslint

Set awareness for user regardless of RTC prefix
  packages/collaboration-extension/src/collaboration.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
