Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: jlpm run prettier
  language: node

eslint:
  name: eslint
  entry: jlpm run eslint
  language: node

stylelint:
  name: stylelint
  entry: jlpm run stylelint
  language: node

remove references to unused 'dirty' attribute set on pycrdt.Doc
  jupyter_collaboration/rooms.py
Due: none

correct first commit 'f67596', allowing unit tests to pass
  jupyter_collaboration/rooms.py
Due: none

Update to @jupyter/ydoc v2.0.1
  packages/collaboration-extension/package.json
  packages/docprovider/package.json
Due: prettier

Update yarn.lock
  yarn.lock
Due: none

Install jupyterlab>=4.2.0a1 in tests
  .github/workflows/test.yml
Due: none

adding awareness event when open and close websockets
  jupyter_collaboration/app.py
  jupyter_collaboration/events/awareness.yaml
  jupyter_collaboration/handlers.py
  jupyter_collaboration/utils.py
  tests/test_handlers.py
Due: none

adding awareness event when open and close websockets (#246)
  jupyter_collaboration/app.py
  jupyter_collaboration/events/awareness.yaml
  jupyter_collaboration/handlers.py
  jupyter_collaboration/utils.py
  tests/test_handlers.py
Due: none

Publish 2.0.4
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

prefer asyncio.create_task()
  jupyter_collaboration/rooms.py
Due: none

save references to scheduled tasks
  jupyter_collaboration/rooms.py
Due: none

correct commit 'd1e28ef', set 'dirty' attribute while preventing save loop
  jupyter_collaboration/rooms.py
Due: none

prefer add_done_callback() over recursive coroutine
  jupyter_collaboration/rooms.py
Due: none

pre-commit
  jupyter_collaboration/rooms.py
Due: none

Bump jupyter_events
  pyproject.toml
Due: none

Bump jupyter_events (#258)
  pyproject.toml
Due: none

Add test for document dirty attribute
  pyproject.toml
  tests/test_documents.py
Due: none

Add rtc_document_save_delay fixture
  tests/conftest.py
  tests/test_documents.py
Due: none

Add test for document dirty attribute (#251)
  pyproject.toml
  tests/conftest.py
  tests/test_documents.py
Due: none

Fix concurrent room initialization
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
  tests/test_documents.py
Due: none

Fix concurrent room initialization (#255)
  jupyter_collaboration/handlers.py
  jupyter_collaboration/rooms.py
  tests/test_documents.py
Due: none

Publish 2.0.5
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Add random tests
  tests/test_random.py
Due: none

make user name hover show up faster and margin area larger
  packages/collaboration/src/cursors.ts
Due: prettier, eslint

Test pycrdt-websocket PR 22
  .github/workflows/test.yml
  pyproject.toml
  tests/test_random.py
Due: none

make user name hover show up faster and margin area larger (#259)
  packages/collaboration/src/cursors.ts
Due: prettier, eslint

Uses the jupyterlab_chat package (back end and front end) to add a collaborative chat
  jupyter_collaboration/__init__.py
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/chat.ts
  packages/collaboration-extension/src/index.ts
Due: prettier, eslint

Format the message to retrieve the user avatar color
  packages/collaboration-extension/src/chat.ts
Due: prettier, eslint

Change the chat repo from jupyterlab-chat to jupyter-chat
  jupyter_collaboration/__init__.py
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/chat.ts
Due: prettier, eslint

First version of chat based on YDoc (CRDT)
  jupyter_collaboration/chat_ydoc.py
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/chat.ts
  packages/collaboration-extension/src/index.ts
  packages/collaboration/src/tokens.ts
  packages/docprovider/package.json
  packages/docprovider/src/chat/factory.ts
  packages/docprovider/src/chat/index.ts
  packages/docprovider/src/chat/model.ts
  packages/docprovider/src/chat/widget.ts
  packages/docprovider/src/index.ts
  packages/docprovider/tsconfig.json
  pyproject.toml
Due: prettier, eslint

Look for chat files using the drive instead of the filebrowser, and listn for change on the drive
  jupyter_collaboration/handlers.py
  packages/collaboration-extension/src/chat.ts
  packages/docprovider/src/chat/widget.tsx
Due: prettier, eslint

Remove server extension and handlers, not used anymore since the chat does not use websockets
  jupyter_collaboration/__init__.py
  jupyter_collaboration/app.py
  jupyter_collaboration/handlers.py
Due: none

Allow creating and opening chats from the side panel, and display several chats in an accordion
  packages/collaboration-extension/package.json
  packages/collaboration-extension/src/chat.ts
  packages/collaboration/src/tokens.ts
  packages/docprovider/src/chat/widget.ts
  packages/docprovider/src/chat/widget.tsx
Due: prettier, eslint

Use schema for global configuration of the chat
  packages/collaboration-extension/package.json
  packages/collaboration-extension/schema/chat.json
  packages/collaboration-extension/src/chat.ts
  packages/docprovider/src/chat/model.ts
Due: prettier, eslint

Allow closing chat and improve chat creation
  packages/collaboration-extension/src/chat.ts
  packages/docprovider/src/chat/widget.tsx
Due: prettier, eslint

Add tests on chat
  ui-tests/jupyter_server_test_config.py
  ui-tests/tests/chat.spec.ts
  ui-tests/tests/chat.spec.ts-snapshots/chat-icon-linux.png
Due: prettier, eslint

Fix slow room opening
  tests/test_documents.py
Due: none

Add fix
  jupyter_collaboration/handlers.py
Due: none

Fix slow room opening (#264)
  jupyter_collaboration/handlers.py
  tests/test_documents.py
Due: none

Publish 2.0.6
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Publish 2.0.7
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
