Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "(^binder/jupyter_config\\.py$)|(^scripts/bump_version\\.py$)|(/setup\\.py$)"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

Update httpx-ws >=0.9.0
  projects/jupyter-server-ydoc/pyproject.toml
  tests/test_handlers.py
Due: none

Update httpx-ws >=0.9.0 (#561)
  projects/jupyter-server-ydoc/pyproject.toml
  tests/test_handlers.py
Due: none

Export editor facet to allow settings cursors from third party extnesions
  packages/collaboration/src/cursors.ts
Due: prettier, eslint

Fix getting document_version
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

Disable postinstall scripts
  .yarnrc.yml
Due: none

Disable postinstall scripts (#565)
  .yarnrc.yml
Due: none

Convert y-webrtc to TypeScript
  package.json
  packages/y-webrtc/demo/index.js
  packages/y-webrtc/package.json
  packages/y-webrtc/rollup.config.js
  packages/y-webrtc/src/crypto.ts
  packages/y-webrtc/src/y-webrtc.ts
  packages/y-webrtc/tsconfig.json
  yarn.lock
Due: prettier, eslint

Keep track of loaded document
  packages/y-webrtc/src/y-webrtc.ts
Due: prettier, eslint

Remove y-webrtc demo
  packages/y-webrtc/README.md
  packages/y-webrtc/demo/index.html
  packages/y-webrtc/demo/index.js
  packages/y-webrtc/package.json
  packages/y-webrtc/rollup.config.js
Due: prettier, eslint

Lint
  packages/y-webrtc/rollup.config.js
  packages/y-webrtc/test/crypto.test.js
  packages/y-webrtc/test/index.js
Due: prettier, eslint

Remove rollup
  packages/y-webrtc/package.json
  packages/y-webrtc/rollup.config.js
  packages/y-webrtc/tsconfig.json
  yarn.lock
Due: prettier, eslint

Bump yjs to 13.6.30, lib0 to 0.2.99 (fixes GC crash in applyUpdate)
  yarn.lock
Due: none

Bundle yjs and y-protocols in extensions to override JupyterLab core's 13.6.20
  packages/collaboration-extension/package.json
  packages/docprovider-extension/package.json
Due: prettier

Commit pre-built labextension assets (skip Node.js requirement at install)
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/labextension/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/labextension/schemas/@jupyter/collaboration-extension/package.json.orig
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/labextension/schemas/@jupyter/collaboration-extension/shared-link.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/labextension/schemas/@jupyter/collaboration-extension/user-menu-bar.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/labextension/static/165.689c1983d249d3e82dd7.js
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/labextension/static/240.1c4ab099f476f77a1f8e.js
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/labextension/static/325.6585710e7a134c626e5c.js
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/labextension/static/393.d374154d9bf811a493d6.js
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/labextension/static/444.d6f3cc1c6d4b374efa63.js
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/labextension/static/784.8b428f30e05c8f4cee4c.js
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/labextension/static/842.2fdac7637cb6ce8a5025.js
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/labextension/static/852.79a5e63af76367a9a10d.js
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/labextension/static/944.27191c0195c19b79d6b0.js
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/labextension/static/remoteEntry.4875be4fca8b9529b207.js
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/labextension/static/style.js
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/labextension/static/third-party-licenses.json
  projects/jupyter-docprovider/jupyter_docprovider/labextension/package.json
  projects/jupyter-docprovider/jupyter_docprovider/labextension/static/165.26019899bb44926d285a.js
  projects/jupyter-docprovider/jupyter_docprovider/labextension/static/240.bc1013ab386bf4bef581.js
  projects/jupyter-docprovider/jupyter_docprovider/labextension/static/325.2f9732bab48fc6cacef8.js
  projects/jupyter-docprovider/jupyter_docprovider/labextension/static/36.8d3e48175a6776f676ed.js
  projects/jupyter-docprovider/jupyter_docprovider/labextension/static/421.75a66d511f955fcd7a8b.js
  projects/jupyter-docprovider/jupyter_docprovider/labextension/static/444.a505d1617ac8446e479a.js
  projects/jupyter-docprovider/jupyter_docprovider/labextension/static/703.b6161e1cd24be7df1b1e.js
  projects/jupyter-docprovider/jupyter_docprovider/labextension/static/944.f7880e7a2b9359ace785.js
  projects/jupyter-docprovider/jupyter_docprovider/labextension/static/remoteEntry.9e137a1b8d123cd0bf9a.js
  projects/jupyter-docprovider/jupyter_docprovider/labextension/static/style.js
  projects/jupyter-docprovider/jupyter_docprovider/labextension/static/third-party-licenses.json
Due: prettier, eslint

Add create argument to get_document API
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  tests/test_app.py
Due: none

fix-mypy-error
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
Due: none

add-create-argument
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  tests/test_app.py
Due: none

handle-race-condition-with-locks
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

refactor-code
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
Due: none

use-defaultdict
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
Due: none

fix import ordering for ruff
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
Due: none

Fix the share button in the top area
  packages/collaboration-extension/schema/shared-link.json
Due: prettier

update snapshot
  ui-tests/tests/user-menu.spec.ts-snapshots/shared-link-icon-linux.png
Due: none

Don't set dirty to False
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Fix the share button in the top area (#570)
  packages/collaboration-extension/schema/shared-link.json
  ui-tests/tests/user-menu.spec.ts-snapshots/shared-link-icon-linux.png
Due: prettier

Export editor facet to allow settings cursors from third party extnesions (#562)
  packages/collaboration/src/cursors.ts
Due: prettier, eslint

Add a test case which should fail
  tests/test_documents.py
Due: none

Fix the issue
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Fix mypy issue
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

lint
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/src/components.tsx
  packages/collaboration/src/cursors.ts
  packages/collaboration/src/menu.ts
  packages/docprovider-extension/babel.config.js
  packages/docprovider-extension/jest.config.js
  packages/docprovider-extension/src/__tests__/yprovider.spec.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Require IDocumentProviderFactory
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Pin down lib0, remove skipLibCheck
  package.json
  tsconfig.json
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Fix argument order
  packages/docprovider-extension/src/filebrowser.ts
Due: prettier, eslint

Require Python 3.10, update classifiers
  projects/jupyter-collaboration-ui/pyproject.toml
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/pyproject.toml
  projects/jupyter-server-ydoc/pyproject.toml
Due: none

clean up after Python 3.10 bump
  projects/jupyter-server-ydoc/jupyter_server_ydoc/__init__.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/utils.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/websocketserver.py
  pyproject.toml
  scripts/dev_install.py
  tests/test_documents.py
Due: none

Depend on `IDocumentManager` instead of fetching settings directly
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/package.json
  packages/docprovider/src/ydrive.ts
  yarn.lock
Due: prettier, eslint

Rename check release upload artifact
  .github/workflows/check-release.yml
Due: none

Update to TypeScript 5.9
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/package.json
  yarn.lock
Due: prettier, eslint
