Repository jupyterlab/jupyter-collaboration: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

ci:
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        # Version bump conflict with this hook
        exclude: "^package\\.json$"
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: forbid-new-submodules
      - id: check-builtin-literals
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: [--max-line-length=200]
        stages: [manual]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        exclude: "(^binder/jupyter_config\\.py$)|(^scripts/bump_version\\.py$)|(/setup\\.py$)"
        args: ["--config-file", "pyproject.toml"]
        additional_dependencies: [tornado, pytest]
        stages: [manual]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.21.0
    hooks:
      - id: check-jsonschema
        name: "Check GitHub Workflows"
        files: ^\.github/workflows/
        types: [yaml]
        args: ["--schemafile", "https://json.schemastore.org/github-workflow"]
        stages: [manual]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'jlpm run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'jlpm run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'jlpm run stylelint'
        language: node
        types: [css]

Fix typo in a test comment
  ui-tests/tests/notebook.spec.ts
Due: prettier, eslint

Document the breaking change in 4.0 in the changelog (#497)
  CHANGELOG.md
Due: none

Fix handling of `hubHost` (#501)
  packages/collaboration/src/sharedlink.ts
  ui-tests/tests/hub-share.spec.ts
Due: prettier, eslint

Fix saving after renames (#511)
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/ydrive.ts
  ui-tests/tests/notebook.spec.ts
Due: prettier, eslint

Publish 4.1.2
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

fix-TempFileYStore-class
  projects/jupyter-server-ydoc/jupyter_server_ydoc/stores.py
Due: none

Update snapshots
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
Due: none

Test stopping file watcher on persistent errors
  projects/jupyter-server-ydoc/jupyter_server_ydoc/test_utils.py
  tests/test_loaders.py
Due: none

Add an option to stop polling on persistent errors
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
Due: none

Change the default to 24 hours
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
Due: none

add-sharing-docs
  docs/source/index.md
Due: none

add-doc-on-user-settings
  docs/source/configuration.md
  docs/source/images/rtc_user_settings.png
Due: none

convert-docs-to-md
  docs/source/conf.py
  docs/source/developer/contributing.md
  docs/source/developer/contributing.rst
  docs/source/developer/javascript_api.md
  docs/source/developer/javascript_api.rst
  docs/source/developer/python_api.md
  docs/source/developer/python_api.rst
Due: none

fix-links
  CONTRIBUTING.md
  README.md
Due: none

Update snapshots (#521)
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-guest-linux.png
  ui-tests/tests/notebook.spec.ts-snapshots/initialization-open-notebook-host-linux.png
Due: none

Stop file watcher on persistent errors (#520)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/app.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/test_utils.py
  tests/test_loaders.py
Due: none

Bump JupyterLab packages to 4.5.0
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

fix-typos
  docs/source/developer/contributing.md
  docs/source/developer/javascript_api.md
  docs/source/developer/python_api.md
Due: none

refer-jupyter-server-docs
  docs/source/configuration.md
  docs/source/index.md
Due: none

Bump JupyterLab packages to 4.5.0 (#524)
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  yarn.lock
Due: prettier

Get rid of the dependency on the RestContentProvider
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Prettify
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Fix cell duplication when YStore is out-of-sync with file
  projects/jupyter-server-ydoc/jupyter_server_ydoc/handlers.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/rooms.py
Due: none

Use `jupyter-collaboration` over jupyter_collaboration
  docs/source/developer/contributing.md
Due: none

Enable `TempFileYStore` to work with Jupyter Lab (#519)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/stores.py
Due: none

Convert documentation to Markdown (#523)
  CONTRIBUTING.md
  README.md
  docs/source/conf.py
  docs/source/developer/contributing.md
  docs/source/developer/contributing.rst
  docs/source/developer/javascript_api.md
  docs/source/developer/javascript_api.rst
  docs/source/developer/python_api.md
  docs/source/developer/python_api.rst
Due: none

Update contributing docs (black → ruff; conda → pip)
  docs/source/developer/contributing.md
Due: none

Normalize line endings on content load
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
Due: none

`model["content"]` can be empty in tests
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
Due: none

`RtcContentProvider`: depend on `DefaultDrive` rather than on the `RestContentProvider` for routing `get()` and `save()` (#525)
  packages/docprovider-extension/src/filebrowser.ts
  packages/docprovider/src/ydrive.ts
Due: prettier, eslint

Update docs/source/developer/contributing.md
  docs/source/developer/contributing.md
Due: none

Update docs/source/index.md
  docs/source/index.md
Due: none

pre-committ lint
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
Due: none

Update contributing docs (black → ruff; conda → pip) (#528)
  docs/source/developer/contributing.md
Due: none

Add documentation on Sharing Notebook and User Settings (#522)
  docs/source/configuration.md
  docs/source/images/rtc_user_settings.png
  docs/source/index.md
Due: none

Whitespace
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
Due: none

Fix bug with saving of files with DOS line endings by normalizing them before loading to ydoc (#449)
  projects/jupyter-server-ydoc/jupyter_server_ydoc/loaders.py
  ui-tests/README.md
  ui-tests/tests/file.spec.ts
Due: prettier, eslint

Publish 4.2.0alpha0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Publish 4.2.0beta0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier

Publish 4.2.0rc0
  CHANGELOG.md
  lerna.json
  package.json
  packages/collaboration-extension/package.json
  packages/collaboration/package.json
  packages/collaborative-drive/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  projects/jupyter-collaboration-ui/jupyter_collaboration_ui/_version.py
  projects/jupyter-collaboration/jupyter_collaboration/_version.py
  projects/jupyter-collaboration/pyproject.toml
  projects/jupyter-docprovider/jupyter_docprovider/_version.py
  projects/jupyter-server-ydoc/jupyter_server_ydoc/_version.py
  yarn.lock
Due: prettier
